.js-loading *, .js-loading *:before, .js-loading *:after {
	background-color: rgb(204, 72, 72);
			animation-play-state: paused !important;
  }


	.myimg {
	  width:60px;
	  height:60px;
	  border-radius:50%;
	}
	.myimg {
	  font-size: 25px;
	}
*{
	padding:0px;
	margin:0px;
	font-family:arial,-apple-system, BlinkMacSystemFont,
	'Segoe UI', Oxygen, Ubuntu,
	 Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing:border-box;
}

body{
	background-color: #fff;
	background-image: url("images/city.d273807b3587.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display:flex;
	background-position: bottom;
	background-attachment: fixed;
flex-direction:column;
/* min-width:350px; */
width:100%;
height:100vh;
justify-content:center;
align-items:center;
}

a{
	color: #456;
	text-decoration:none;
	font-weight:bold;
}


.link{
	color:rgb(15, 166, 216);
	font-weight: 600;
	font-size: 20px;
}
.link:hover{
	color: rgb(166, 240, 29);
}

p{
	margin:5px 0px;
}

#forgot{
	text-align: center;
}
.forgot a{
	color:rgb(15, 166, 216);
	font-weight: 400;

}
.forgot a:hover{
	color: rgb(166, 240, 29);
}
form{
	margin-top: 2%;
}


.bon{
	background-color: rgba(7, 7, 68, 0.833);
	border: 1px solid #c0c0c0;
	padding: 6px;
	padding-bottom: 2px;
	width: 330px;
	border-radius: 9px;
	flex-grow: 0.2;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 }
 .prof-pic{
	 margin: 4px auto;
	 margin-bottom: 20px;
    text-align: center;
 }

.bony{
	padding:5px 20px 20px;
	text-align: center;
    color: white;
    text-shadow: 0px 1px 4px black;
}
.bony h2{
	font-weight: 500;

}
.bony h3{
	color: white;
	margin-bottom: 10px;
}
.bony>h3:first-child
{
	margin-top: 20%;
	/* color: white; */
}

.bony>h1,h2,h3,h4,h5,h6{
	text-align:center;
   margin: 5px 0px;
}


.input{
	/* width: 40%; */
	padding: 8px;
	margin: 10px auto;
	border: 1px solid #c0c0c0;
	display: block;
	text-align: center;
	border-radius: 5px;

}
.inputlabel
{
	display: block;
	padding: 10px ;
	margin: 10px auto;
	color: #f00;
	display: block;
	text-align: center;
}

.keepme
{
	text-align: center;
	color: rgb(166, 240, 29);
	margin: 5px auto;
	margin-top: 20px;
}
.new{
	color: white;
}

input[type="submit"]{
	border: 1px solid #969699;
	background-color:#0f118a;
	color:white;

	font-size: 19px;
	font-weight: bold;
	cursor: pointer;
}

input[type="submit"]:hover{
	background-color: #1c6792;
	border: none;
}

.dropbtn {
	border-style: none;
	position: relative;
	float: right;
	font-family:arial;
	font-weight: 600;
	font-size: 16px;
	border-radius: 2px;
}

.dropdown{
	position: relative;
	display: inline-block;
	margin-right: 5px;
}


.dropdown-menu {
	display: none;
	position: right;
	float: right;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding-left:10px;

}

.dropdown-menu a {
	color:#c0c0c0;
	padding:12px 16px;
	text-decoration: none;
	display: block;

}


.dropdown-menu a:hover{
	background-color:#efefeff5;
	text-decoration: none;
}


.dropdown:hover .dropdown-menu{
	display:inline;
	border-bottom: 2px solid #3399ff;
	min-width: 90px;

}

.dropdown:hover .dropbtn{
	background-color: #c0c0c0;
	color: black;
	border-bottom:2px solid #3399ff;
}
nav{
	width:100%;
	background:white;
	position:fixed;
	top:0px;
	transition:.5s;
  padding: 10px;
  z-index: 4;
  border-bottom: 1px solid #c0c0c0;
  display: inline-block;
  text-align: left;
}


.row{
	font-family: Arial, Helvetica, sans-serif;
}

.column{
	float:left;
	width: 25%;
	padding: 0 10px;
	margin-top: 20px;
}
.row {
	margin : 0- 5px;
}

.row:after{
	content: "";
	display: table;
	clear: both;
	margin-top: 20px;

}

.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 16px;
	text-align:center;
	font-family:arial;
	color: #3399ff;
	background-color: #f1f1f1;
	border-bottom:  1px solid #3399ff;
	padding-top: 5px;
	position:center;
	border-top: 1px solid #c0c0c0;
	border-left:  1px solid#c0c0c0;
	border-right: 1px solid #c0c0c0;
	font-weight: bold;
	font-size: 0.8em;
}
@media screen and (max-width: 600px){
	.column{
		width: 100px;
		display: block;
		margin-bottom: 20px;
	}
	.Desc{
		margin-top: 20px;
	}
		.form-hander~input{
			width: 70vw;
		}
}
#photo{
	width: 100px;
	height: 100px;
	border-radius:50%;
	margin-bottom: 10px;
	border: 1px solid rgba(51, 153, 255, 0.884);
}
#profile{
	width: 200px;
}

.welcome{
	color:#3399ff;
	text-align:center;
	display: block;
	text-orientation:center;
	width: 50%;
	height :20%;
	margin-left: 25%;
	font-size: 1px;
	font-family: Helvetica;


}
.Learn{
	border-style:none;
	color: white;
	background-color:#3399ff;
	width: 100%;
	height: 30px;

}

.links{
	display:flex;
	text-align: center;
}
footer{
	position: fixed;
	margin-top: 50%;
	width: 100%;
	background-color:#000000;
}
