html {
  background-image: url("./images/404.b7584702f768.jpg");
}


.main-div {
  width: 80%;
  margin: 0px auto;
  background-color:#034;
  opacity: .5;
}


.Message {
  margin: 0px auto;
}


.links {

}

.links > a{
  display: block;
  text-decoration: none;
  font-size: 1.3em;
}
