{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Dev Code | Answers</title>
    <link rel="stylesheet" href="{% static 'questions/answers.css' %}">
  </head>
  <body>

    <div class="header">

      <nav>
        <a href="{% url 'home:home' %}">Home</a> |
        <a href="{% url 'questions:questions' %}">Questions</a> |
        <a href="{% url 'peers:peers' %}">peers</a>
      </nav>

      <!-- profile photo -->
      <div class="profile myprofile">
        <a href="{% url 'profile:profile' %}" title="{{userdetails.username}}">
          <img src="/media/{{userdetails.profilepic}}" alt="profile">
        </a>

      </div>

    </div>

    <div class="main">
      <h4>Question</h4>
      <hr style="width:100px;margin: 0px auto;">
      <div class="question">

        <div class="profile queryprofile">
          <img src="/media/{{question_info.quid.profilepic}}" alt="{{question_info.quid.username}}" title="{{question_info.quid.username}}">
          <p>{{question_info.quid.username}}</p>
        </div>

        <div class="question-content">
          <div class="question-main-content">
            {{question_info.question}}
          </div>

          <p class="ft">
            {{question_info.quid.hobby}}
          </p>
          <p class="ft">
            {{question_info.time_posted}}
          </p>
        </div>
      </div>


      <!-- Start of answers -->
        <h4>Answers</h4>
        <hr style="width:100px;margin: 0px auto;">
        {% for answer in allanswers %}
      <div class="answers">

        <div class="profile queryprofile">
          <img src="/media/{{answer.auid.profilepic}}" alt="profile" title="{{answer.auid.username}}">
          <p>{{answer.auid.username}}</p>
        </div>

        <div class="answers-content">
          <div class="answers-main-content">
            {{answer.answer}}
          </div>

          <p class="ft">
            {{answer.auid.hobby}}
          </p>
          <p class="ft">
            {{answer.time_posted}}
          </p>
        </div>
      </div>
      {% endfor %}
      <!-- end of answers -->

<!-- Start of submit answer -->
<div class="answers">
  <div class="answer-form">

    <form class="" action="{% url 'questions:updateanswers' Qid %}" method="post">
      {% csrf_token %}
        {{answers_form.as_p}}
        <textarea name="message" rows="3" cols="25" id="small" placeholder="your answer"></textarea>

      <button type="submit" name="submit" value="submit" class="btn btn-info">Send</button>
    </form>

    <p class="ft">
      Python
    </p>
  </div>
</div>

<!-- end of submit answers -->

    </div>

    <div class="footer">

    </div>

    <script type="text/javascript">

        function submitanswer() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function(){
            if(this.status == 200 &&  this.readyState == 4) {
              alert(this.responseText());
            }
          };
          xhttp.setheader("X-CSRFToken" , {{csrf_token}});
          xhttp.open("post" , "{% url 'questions:questions' %}");
          xhttp.send();

        }

    </script>

  </body>
</html>
