{% load static %}
{% load timemod %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" href="{% static 'questions/images/devcodes.svg' %}" name="favicon">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>DevCodes | Answers</title>
    <link rel="stylesheet" href="{% static 'questions/answers.css' %}">
    <link rel="stylesheet" href="{% static 'home/icon.css' %}">
  </head>
  <body>
    <div class="nav-bar">

        <!-- Home icon Beginning -->

    <div class="full-icon" id="full">
      <div class="row">
          <div class="dot"></div>   <div class="line"></div>
      </div>
      <div class="row">
          <div class="dot"></div>   <div class="line"></div>
      </div>
      <div class="row">
          <div class="dot"></div>   <div class="line"></div>
      </div>
  </div>

  <div class="no-padding" id="ex">
      <div class="forward-slash"></div>
      <div class="backward-slash"></div>
  </div>

 <div class="icon-links" id="iLinks">
  <a href="{% url 'home:home' %}" class="Plinks">Home</a>

<a href="{% url 'peers:peers' %}" class="Plinks">Peers</a>
 <a href="{% url 'questions:questions' %}" class="Plinks">Questions
   <i class="fa fa-caret-down"></i></a>
 <a href="{% url 'questions:myquestions' %}" class="Plinks-in">My Questions</a>
  <a href="{% url 'chatroom:inbox' %}" class="Plinks">Inbox <i class="fa fa-envelope newmessage"> {{newmessage}}</i>
       </a>
 <a href="{% url 'profile:profile' %}" class="Plinks"> Edit profile </a>
 <a href="{% url 'login:logout' %}" class="Plinks">  Log out </a>
 </div>
  <!-- Ending of icon -->
      <div class="links">
        <a href="{% url 'home:home' %}">Home</a> |
        <a href="{% url 'peers:peers' %}">Peers</a> |

          <!-- dropdowm for questions -->
        <div class="dropdown">
       <div class="dropbtn"> <a href="{% url 'questions:questions' %}">Questions<i class="fa fa-caret-down"></i></a>  </div>
        <div class="dropdown-content">   <a href="{% url 'questions:myquestions' %}">My Questions</a>  </div>
     </div>
        |
        <a href="{% url 'chatroom:inbox' %}">Inbox</a>
        <a href="{% url 'chatroom:inbox' %}">
          <i class="fa fa-envelope newmessage"> {{newmessage}}</i>
        </a>
        </div>
        <div class="logoN">

          <img src="{% static 'questions/images/devtitle.svg' %}" class="myimg" alt="logo" style="width:100px; height:50px;">

        </div>

        {% if userlog %}
        <div class="user-profile">
          <a> <i class="fa fa-bell">{{notifs}}</i> </a>
             {% cloudinary userdetails.profilepic.url className="myimg" alt=userdetails.username title=userdetails.username height=200 width=100 %}
             <div class="user-dropdown">
               <a href="{% url 'profile:profile' %}">
                 Edit profile
              </a>
              <a href="{% url 'login:logout' %}">
                Log out
              </a>
             </div>
      </div>
        {% else %}
        <div class="user-profile">
            <img src="{% static 'home/images/icon.jpg' %}" alt="profile"
            style="width:40px; height:40px; border-radius:50%;">

      </div>
        {% endif %}
  </div>

  <div class="back-icon">
    <a href="{% url 'questions:questions' %}">
      <img src="{% static 'questions/images/back.svg' %}" alt="Back"
      style="width: 35px; height: 30px; position:fixed; z-index: 3;">
    </a>
  </div>
    <div class="main">
      <h4 id="upPart">Question</h4>
      <hr style="width:100px;margin: 0px auto;">
      <div class="question">

        <div class="profile queryprofile">
          <!-- <img src="{{ question_info.quid.profilepic.url }}" alt="{{question_info.quid.username}}" title="{{question_info.quid.username}}"> -->
          {% cloudinary question_info.quid.profilepic.url className="myimg" height=200 width=100 alt=question_info.quid.username title=question_info.quid.username %}
          <p>{{question_info.quid.username|username_modifier}}</p>
        </div>

        <div class="question-content">
          <div class="question-main-content">
            {{question_info.question}}
          </div>
          <p class="ft">
            {{question_info.quid.hobby}}
          </p>
          <p class="ft">
            {{question_info.time_posted | timemodifier}}
          </p>
        </div>
      </div>


      <!-- Start of answers -->
        <h4>Answers</h4>
        <hr style="width:100px;margin: 0px auto;">
        {% for answer in allanswers %}
      <div class="answers">

        <div class="profile queryprofile">
          <!-- <img src="{{ answer.auid.profilepic.url }}" alt="profile" title="{{answer.auid.username}}"> -->
          {% cloudinary answer.auid.profilepic.url className="myimg" height=200 width=100 alt="profile" %}
          <p>{{answer.auid.username|username_modifier}}</p>
        </div>

        <div class="answers-content">
          <div class="answers-main-content">
            {{answer.answer}}
          </div>

          <p class="ft">
            {{answer.auid.hobby}}
          </p>
          <p class="ft">
            {{answer.time_posted | timemodifier}}
          </p>
        </div>
      </div>
      {% endfor %}
      <!-- end of answers -->

<!-- Start of submit answer -->
<div class="answers">
  <div class="answer-form">

    <form class="" action="{% url 'questions:updateanswers' Qid %}" method="post">
      {% csrf_token %}
        <!-- {{answers_form.as_p}} -->
        <!-- <textarea name="message" rows="3" cols="25" id="small" placeholder="your answer" resizeblae = "none"></textarea> -->

        <textarea rows="3" autofocus required cols="25" placeholder="your answer" name="answer"
        style="width: 80%;
        resize: none;
        margin-bottom: 10px;" maxlength="255" required></textarea>
      <button type="submit" name="submit" value="submit" class="btn btn-info">Send</button>
    </form>

    <p class="ft">
    </p>
  </div>
</div>

<!-- end of submit answers -->

    </div>

    <div class="footer">

    </div>

    <script type="text/javascript">
 // home icon

 const full = document.getElementById('full');
        const ex = document.getElementById('ex');
        const iLinks = document.getElementById('iLinks');

        full.addEventListener('click',function(){
            // full.classList.add('removeIcon');
            full.style.display = 'none';
            // ex.classList.add('showIcon');
            ex.style.display = 'flex';
            iLinks.style.display = 'flex';
        });
        ex.addEventListener('click',function(){
            // full.classList.remove('removeIcon');
            full.style.display = 'flex';
            // ex.classList.remove('showIcon');
            ex.style.display = 'none';
            iLinks.style.display = 'none';
        });

        // end of home icon


        function submitanswer() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function(){
            if(this.status == 200 &&  this.readyState == 4) {
              alert(this.responseText());
            }
          };
          xhttp.setheader("X-CSRFToken" , {csrf_token});
          xhttp.open("post" , "{% url 'questions:questions' %}");
          xhttp.send();
        }

        $(document).ready(function(){
          function checknewmessage(){
            try {
              var xmlhttp = new XMLHttpRequest();
            } catch (e) {
              var xmlhttp = new ActiveXObject();
            } finally {
              xmlhttp.onreadystatechange = function(){
                if (this.readyState ==4 && this.static==200) {
                  var elemenets = document.getElementsByClassName('newmessage');
                  for (var i = 0; i < elemenets.length; i++) {
                    elemenets[i].innerHTML = this.responseText
                  }
                }
              }
              xmlhttp.open("POST" , "{% url 'chatroom:newmessage' %}" , true);
              xmlhttp.setRequestHeader("X-CSRFToken" , "{{csrf_token}}");
              xmlhttp.setRequestHeader("Content-Type" , "application/x-www-form-urlencoded");
              xmlhttp.send();
            }
          }
          setInterval(function(){
            checknewmessage();
          } , 3000);
        });

    </script>

  </body>
</html>
