{% load timemod %}
{% load static %}
{% load like %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>DevCodes | Questions</title>
    <link rel="stylesheet" href="{% static 'questions/questions.css' %}">
    <link rel="stylesheet" href="{% static 'home/icon.css' %}">
    <link rel="icon" href="{% static 'questions/images/devcodes _svg_lg.svg' %}" name="favicon">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'questions/questions.js' %}" charset="utf-8"></script>
    <style>

      /* animating the like button*/
<style>
.initail{
display: inline;
}
.clicked{
display: none;
}

.showClicked{
display: inline;
}
.final{
display: none;
}
    </style>
  </head>
  <body onload="newmessmonster()">
<!-- uniform nav-bar -->
  <div class="nav-bar">

  <!-- Home icon Beginning -->

  <div class="full-icon" id="full">
    <div class="row">
        <div class="dot"></div>   <div class="line"></div>
    </div>
    <div class="row">
        <div class="dot"></div>   <div class="line"></div>
    </div>
    <div class="row">
        <div class="dot"></div>   <div class="line"></div>
    </div>
</div>

<div class="no-padding" id="ex">
    <div class="forward-slash"></div>
    <div class="backward-slash"></div>
</div>

<div class="icon-links" id="iLinks">
  <a href="{% url 'home:home' %}" class="Plinks">Home</a>
<a href="{% url 'peers:peers' %}" class="Plinks">Peers</a>
<a href="{% url 'chatroom:inbox' %}" class="Plinks">Inbox
  {% if userlog %}
    <i class="fa fa-envelope"> {{newmessage}}</i>
  {% endif %}
</a>
<a href="{% url 'profile:profile' %}" class="Plinks"> Edit profile </a>
<a href="{% url 'login:logout' %}" class="Plinks">  Log out </a>

</div>
<!-- Ending of icon -->
    <div class="links">
      <a href="{% url 'home:home' %}" >Home</a> |
      <a href="{% url 'peers:peers' %}">Peers</a>
      <a href="{% url 'questions:myquestions' %}" class="personalize"> | My Questions</a>
      <a href="{% url 'chatroom:inbox' %}" class="personalize">| Inbox
        {% if userlog %}
          <i class="fa fa-envelope"> {{newmessage}}</i>
        {% endif %}

      </a>
      </div>
      <div class="logoN">
        <img src="{% static 'questions/images/devtitle.svg' %}" class="myimg" alt="logo">
      </div>

      <div class="user-profile">
        {% if userlog %}
        <a> <i class="fa fa-bell">{{notifs}}</i> </a>
           {% cloudinary mydetails.profilepic.url className="myimg" alt=mydetails.username title=mydetails.username height=200 width=100 %}
           <div class="user-dropdown">
             <a href="{% url 'profile:profile' %}">
               Edit profile
            </a>
            <a href="{% url 'login:logout' %}">
              Log out
            </a>
           </div>
    </div>
      {% else %}
      <div class="user-profile">
          <img src="{% static 'home/images/icon.jpg' %}" alt="profile"
          style="width:40px; height:40px; border-radius:50%;">
    </div>
      {% endif %}
</div>
  <div class="page-title"  id="upPart">Questions page</div>
  <div class="main-window">
    <div class="toast mytoast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <!-- <img src="..." class="rounded mr-2" alt="..."> -->
    <span class="mr-auto">
      <img src="{% static 'questions/images/devtitle.svg' %}" class="myimg" alt="logo">
    </span>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body" id="mytoast-content">
  </div>
</div>
  <div class="person-holder">
    {% for question in Questions %}

    <div class="oneQuestion">
          <div class="profile-pic">
          <!-- <img src = "{{ question.quid.profilepic.url }}" alt="profile"> -->
          {% cloudinary question.quid.profilepic.url className="myimg" alt=question.quid.username title=question.quid.username height=200 width=100 %}
          </div>
          <div class="question-container">
            <div class="user-details-first-row">
              {{question.quid.username}}   @
              {{question.time_posted | timemodifier}}
            </div>
            <div class="question-content">
              <div class="question-text">{{question.question}}</div>
            <div class="languages-tagged">
              {{question.language}}
              </div>
            </div>
            <div class="reply-section">
              {% if userlog %}
                {% if mydetails.uid|likey:question %}
                      <div class="like">
                      <button type="button" class="likebtn" style="width: 30px; height: 40px;">
                        <img src="{% static 'questions/images/coloredLike.svg' %}" id="final" class="final" alt="like icon"
                        style="width: 30px; height: 40px;">
                        <span id="question{{question.qid}}">{{question.question_liked.count}}</span>
                      </button>
                      </div>
                {% else %}
                    <div class="like">
                    <button type="button" class="likebtn" onclick="updatemonster({{question.qid}});" style="width: 30px; height: 40px;">
                      <img src="{% static 'questions/images/coloredLike.svg' %}" id="final" class="final" alt="like icon"
                      style="width: 30px; height: 40px;">
                      <span id="question{{question.qid}}">{{question.question_liked.count}}</span>
                    </button>
                    </div>
                {% endif %}
              {% else %}
                    <div class="like">
                    <button type="button" class="likebtn" onclick="updatemonster({{question.qid}});" style="width: 30px; height: 40px;">
                      <img src="{% static 'questions/images/clike.svg' %}" id="final" class="final" alt="like icon"
                      style="width: 30px; height: 40px;">
                      <span id="question{{question.qid}}">{{question.question_liked.count}}</span>
                    </button>
                    </div>
              {% endif %}
             <div class="message">
             <img src="{% static 'questions/images/message.svg' %}" alt="message icon">
             {{question.no_of_answers}}
             </div>
             <div class="Click">
            <a href="{% url 'questions:answers' question.qid %}"> Click to view replies</a>
             </div>
            </div>
          </div>
    </div>
    {% endfor %}
  </div>
  <div class = "main-question" class="modal"  id="modal">
    <div class="pose">
      Ask a Question
      <img src="{% static 'questions/images/x.svg' %}" alt="&times;" id="Xbtn">
      <!-- <button data-close-button class="close-button">&times;</button> -->
  </div>
    <form class="" action="{% url 'questions:askquestions' %}" method="post">
      {% csrf_token %}
    <div class="question">

          <textarea autofocus rows="7" cols="38"  placeholder="Type a question.." name="question"  id="question"
            required style="
          background:rgba(255, 255, 255, 0.912);
               border-radius: 3px;
               border-style: none;
               resize:none;
               width:100%;">
            </textarea>
    </div>
    <div class="languages">
        <input type="text" maxlength="15" name="language" required placeholder="Mention programming language(s).." id="question" size="33"
        style="
        border-radius: 3px;
        background: white;
        border-style: none;
        border-color: #0b5858;
        ">
    </div>
    <div class="question-btns">
        <button type="submit" class="post">Post</button>
        <!-- <button class="cancel">Cancel</button> -->
      </div>
      </form>
    </div>
</div>
  <div id="overlay"></div>
   <button data-modal-target="#modal" class="openButton">
    Ask
  </button>
  <a href="#upPart"><img src="{% static 'questions/images/up.svg' %}" alt="up_key" class="up-icon"  id="up">
    </a>
    <script type="text/javascript">
    $(document).ready(function(){
        alert("Hello world");
    });
    </script>
</body>
</html>
