{% load timemod %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Dev Code | Questions</title>
    <link rel="stylesheet" href="{% static 'questions/questions.css' %}">
  </head>
  <body>
    <div class="nav-bar">
      <div class="links">
        <a href="{% url 'peers:peers' %}">Peers</a> |
        <a href="{% url 'chatroom:inbox' %}">inbox</a>
        <a href="{% url 'home:home' %}"><div class="btn btn-info">Home</div></a>
        <a href="#">
          <i class="fa fa-envelope"> {{newmessage}}</i>
        </a>
        </div>
        <div class="logo" id="upPart">
        DevCodes/>
        </div>

        <div class="user-profile">
          <a href="{% url 'profile:profile' %}">
            <img src="/media/{{mydetails.profilepic}}" alt="profile" style="width:40px; height:40px; border-radius:50%;">
          </a>
      </div>
  </div>
  <div class="page-title">Questions page</div>
  <div class="main-window">
  <div class="person-holder">
    {% for question in Questions %}

    <div class="oneQuestion">
          <div class="profile-pic">
          <img src = "/media/{{question.quid.profilepic}}" alt="profile">
          </div>

          <div class="question-container">
            <div class="user-details-first-row">

              {{question.quid.username}}   @
              {{question.time_posted | timemodifier}}
            </div>
            <div class="question-content">
              <div class="question-text">{{question.question}}</div>
            <div class="languages-tagged">
              {{question.language}}
              </div>
            </div>
            <div class="reply-section">
             <div class="like">
               <a href="{% url 'home:home' %}">
             <img src="{% static 'questions/images/like.svg' %}" alt="like icon" style="width: 30px; height: 40px;"></a>
             15
             </div>
             <div class="message">
             <img src="{% static 'questions/images/message.svg' %}" alt="message icon">
             {{question.no_of_answers}}
             </div>
             <div class="Click">
            <a href="{% url 'questions:answers' question.qid %}"> Click to view replies</a>
             </div>
            </div>
          </div>
    </div>


    {% endfor %}
  </div>

  <div class = "main-question" class="modal"  id="modal">

    <div class="pose">
      Ask a Question
      <button data-close-button class="close-button">&times;</button>
  </div>
    <form class="" action="{% url 'questions:askquestions' %}" method="post">
      {% csrf_token %}

    <div class="question">

          <input type="text" name="question" placeholder="Type question.." required id="question" size="55" style="
          height: 150px;
          width:inherit;
          background:white;
          border-radius: 3px;
          border-style: none;
          border-color: #0a4b4b">
    </div>

    <!-- <div class="Add-img">
         Put an image icon
        <button>Add image</button>
    </div> -->

    <div class="languages">
        <input type="text" maxlength="15" name="language" required placeholder="Mention programming language(s).." id="question" size="33"
        style="

        border-radius: 3px;
        background: white;
        border-style: none;
        border-color: #0b5858;
        ">

    </div>
    <div class="question-btns">
        <button type="submit" class="post">Post</button>
        <button class="cancel">Cancel</button>
      </form>
    </div>
</div>
</div>
  <div id="overlay"></div>
   <button data-modal-target="#modal" class="openButton">
    Ask

  </button>
  <a href="#upPart"><img src="{% static 'questions/images/up.svg' %}" alt="up_key" class="up-icon"  id="up">
    </a>


<script>
  var up=document.getElementById('up');
  window.onscroll=function(){
  var scrollPos=window.pageYOffset;
  if(scrollPos<100){
      up.classList.add('hide');
  }
  else{
      up.classList.remove('hide');
  }
  }

  const openModalButtons = document.querySelectorAll('[data-modal-target]')
  const closeModalButtons = document.querySelectorAll('[data-close-button]')
  const overlay = document.getElementById('overlay')

  openModalButtons.forEach(button =>{
    button.addEventListener('click', () => {
      const modal = document.querySelector(button.dataset.modalTarget)
      openModal(modal)
    })
  })


  overlay.addEventListener('click', () => {
    const modals = document.querySelectorAll('.modal.active')
    modals.forEach(modal =>{
      closeModal(modal)
    })

  })

  closeModalButtons.forEach(button => {
    button.addEventListener('click', () => {
      const modal = button.closest('.modal')
      closeModal(modal)
    })
  })


  function openModal(modal){
    if(modal == null) {return}
    else{
    modal.classList.add('active')
    overlay.classList.add('active')
    }
  }
  function closeModal(modal){
    if(modal == null) {return}
    else{
    modal.classList.remove('active')
    overlay.classList.remove('active')
    }
  }


</script>
  </body>
</html>
