{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevCodes | Admin Page</title>
    <link rel="stylesheet" href="{% static 'home/admin.css' %}">
</head>
<body>
    <div class="nav-bar">
        <div class="links">
          <a href="{% url 'home:home' %}" >Home</a> |

          <a href="{% url 'peers:peers' %}">Peers</a> |

          <a href="{% url 'questions:myquestions' %}">My Questions</a>

          |
          <a href="{% url 'chatroom:inbox' %}">Inbox</a>
          <a href="{% url 'chatroom:inbox' %}">
            <i class="fa fa-envelope"> {{newmessage}}</i>
          </a>
          </div>
          <div class="logoN">
          DevCodes/>
          </div>
          <div class="user-profile">
            <a> <i class="fa fa-bell">{{notifs}}</i> </a>

              <img src="/media/{{userinfo.profilepic}}" alt="profile"
               style="width:40px; height:40px; border-radius:50%;">
               <div class="user-dropdown">
                 <a href="{% url 'profile:profile' %}" style="border-bottom: 1px solid grey;">
                   Edit profile
                 </a>
                 <a href="{% url 'login:login' %}">
                   Log out
                 </a>
               </div>

        </div>
    </div>
    <div class="feedback">
        <div class="oneMessage">
        <div class="emailTime">
            pkmurungi.pm@gmail.com
        </div>
        <div class="email-content">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse hic blanditiis,
             sit saepe perspiciatis consequatur dolorum dicta ex
            officiis quos expedita voluptate, aut quidem culpa accusantium distinctio consectetur, aliquid optio.
        </div>
        <p id="time">@2hrs ago</p>

        <div class="respond">
            <button class="resBtn">Respond</button>
        </div>

        </div>
        <div class="oneMessage">
            <div class="emailTime">
                pkmurungi.pm@gmail.com
            </div>
            <div class="email-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse vel dolore tenetur eos odit veritatis
                possimus delectus
                nulla consequuntur blanditiis quasi repellat modi totam, facere ratione quas alias nam nihil.
                </div>
                <p> @2hrs ago</p>

            <div class="respond">
                <button class="resBtn">Respond</button>
            </div>
            </div>
    </div>
</body>
</html>
