{% load static %}
{% load timemod %}
{% load cloudinary %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'questions/images/devcodes.svg' %}" name"favicon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevCodes | Admin Page </title>
    <link rel="stylesheet" href="{% static 'home/admin.css' %}">
</head>
<body>
    <div class="nav-bar">
        <div class="links">
          <a href="{% url 'home:home' %}" >Home</a> |

          <a href="{% url 'peers:peers' %}">Peers</a> |

          <a href="{% url 'questions:myquestions' %}">My Questions</a>
          |
          <a href="{% url 'chatroom:inbox' %}">Inbox</a>
          <a href="{% url 'chatroom:inbox' %}">
            <i class="fa fa-envelope"> {{newmessage}}</i>
          </a>
          </div>
          <div class="logoN">
            <img src="{% static 'questions/images/devtitle.svg' %}" class="myimg" alt="logo" style="width:100px; height:50px;">
          </div>
          <div class="user-profile">
            <a> <i class="fa fa-bell">{{notifs}}</i> </a>
               {% cloudinary userinfo.profilepic.url className="myimg" title=userinfo.username alt=userinfo.username height=200 width=100 %}
               <div class="user-dropdown">
                 <a href="{% url 'profile:profile' %}" style="border-bottom: 1px solid grey;">
                   Edit profile
                 </a>
                 <a href="{% url 'login:logout' %}">
                   Log out
                 </a>
               </div>

        </div>
    </div>
    <div class="feedback">

      {% for feed in feeds %}
          <div class="oneMessage">
          <div class="emailTime">
              {{feed.feedback_sender}}
          </div>
          <div class="email-content">
                {{feed.feedback}}
          </div>
          <p id="time"> @{{feed.post_time|timemodifier}}</p>
          </div>
      {% endfor %}
    </div>
</body>
</html>
