
body{
  height: 100vh;
  width: 100%;
  background: url("../uprofile/images/tech1.a7d5f83ecaa7.jpg") center fixed;
  background-size: cover;
  background-color: #0a1d2f;
}


/* nav bar attributes */

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items:center;
  height:max-content;
  padding: 4px 10px;
    background: #303d5c;
    color: #17a2b8;
}
.nav-bar a{
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.nav-bar a:active{
  color:darkblue;
}
.nav-bar a:hover{
  text-decoration: none;
  color: rgb(128, 181, 241);

}
.links{
  display: inline-flex;
}
.links a{
  padding-left: 6px;
  padding-right: 6px;
  color:#fff;
}

/* Start of dropdown */


.dropdown .dropbtn {
    background-color: inherit;
   margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #303d5c;
  z-index: 1;
  width: max-content;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: rgb(128, 181, 241);
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* End of dropdown */
.user-profile img{
  height: 40px;
  width:40px;
  border-radius: 50%;
  margin-right: 5px;
  }
  .user-profile{
    color:#fff;
    position: relative;
  }
  .user-dropdown{
    position: absolute;
    background-color: #303d5c;


    width: max-content;
    z-index: 1;
    display: none;
  }
  .user-profile img:hover .user-dropdown{
display: grid;
  }
  .user-profile img:focus .user-dropdown{
    display: grid;
  }


  .logoN{
    font-size:22px;
    font-family:cursive,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* End of nav */

.profile {
  display: block;
  margin: 0px auto;
  width: max-content;
  margin-top: 10px;
}

.profile >img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0px auto;
  border-radius: 50%;
}


input[type = "file"] {
  border: none;
}
.details{

  width: max-content;
  margin-left: 10px;
    font-weight: 700;
    color: #01094a;
    letter-spacing: 1px;
    text-shadow: 0px 1px 7px #8c8888;
}
<<<<<<< HEAD



/* .main-window .main-frame-details{
  margin:0px auto;
  width: max-content;
  border-style: solid;
  border-color: coral;
  border-radius: 10px;
  background-color: #fff;
} */
=======
.main-window .main-frame-details{
  margin:auto auto;
  width: max-content;
  border-style: solid;
  border-color: #18b8b9;
    border-radius: 10px;
  background: #f5f2f261;
}
.nav-bar{
  margin-bottom: 30px;
  text-align: left;
  background: grey;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.nav-bar a{
  color: rgb(229, 226, 226);
}
.nav-profile{
  border-radius: 50%;
  text-align: left;
  height: 40px;
  width: 40px;
  float: right;
  margin-right: 20px;
}

/* .details form fieldset table tbody tr td.updateButton{
  text-align: center;
} */
/* .btn btn-info{
  text-align: center;
} */
body{
  height:100vh;
  width:100%;
  background-image: url("../uprofile/images/flat-screen-lte.1f8a47179365.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #1d2252;
}
