
body{
  height: 100vh;
  width: 100%;
  background: url("../uprofile/images/tech1.a7d5f83ecaa7.jpg") center fixed;
  background-size: cover;
  background-color: #0a1d2f;
}


/* nav bar attributes */

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items:center;
  height:max-content;
  padding: 4px 10px;
    background: #303d5c;
    color: #17a2b8;
}
.nav-bar a{
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.nav-bar a:active{
  color:darkblue;
}
.nav-bar a:hover{
  text-decoration: none;
  color: rgb(128, 181, 241);

}
.links{
  display: inline-flex;
}
.links a{
  padding-left: 6px;
  padding-right: 6px;
  color:#fff;
}

/* Start of dropdown */


.dropdown .dropbtn {
    background-color: inherit;
   margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #303d5c;
  z-index: 1;
  width: max-content;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: rgb(128, 181, 241);
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* End of dropdown */
.user-profile img{
  height: 40px;
  width:40px;
  border-radius: 50%;
  margin-right: 5px;
  }
  .user-profile{
    color:#fff;
    position: relative;
  }
  .user-dropdown{
    position: absolute;
    background-color: #303d5c;
    
    
    width: max-content;
    z-index: 1;
    display: none;
  }
  .user-profile img:hover .user-dropdown{
display: grid;
  }
  .user-profile img:focus .user-dropdown{
    display: grid;
  }
  

  .logoN{
    font-size:22px;
    font-family:cursive,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* End of nav */

.profile {
  display: block;
  margin: 0px auto;
  width: max-content;
  margin-top: 10px;
}

.profile >img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0px auto;
  border-radius: 50%;
}


input[type = "file"] {
  border: none;
}
.details{
  width: max-content;
  margin-left: 10px;
}



/* .main-window .main-frame-details{
  margin:0px auto;
  width: max-content;
  border-style: solid;
  border-color: coral;
  border-radius: 10px;
  background-color: #fff;
} */

/* .details form fieldset table tbody tr td.updateButton{
  text-align: center;
} */
/* .btn btn-info{
  text-align: center;
} */


.profile {
  display: block;
  margin: 0px auto;
}

.profile >img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0px auto;
  border-radius: 50%;
}

table {
  margin: 0px auto;
  margin-top: 3vw;
  text-align: center;
}
input {
  border: 0px;
  padding: 5px;
  border-radius: 2px;
  border: 0px;
    text-align: left;
    font-size: 17px;
    background: #00000091;
    color: #abfbf3;
    padding-left: 10px;
    font-weight: 400;
    width: 85%;
    text-shadow: 1px 1px 6px black;
}

input:focus{
  border-bottom:2px solid wheat ;
}

input[type = "file"] {
  border: none;
  background: #000000b3;
    
}



/* new version */
.main-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.main-details{
  display: grid;
    justify-items: center;
    align-content: center;

}
.info{
  display:grid;
  margin-left: 5px;
}
.profile-image{
  width:100px;
  height:100px;
  border-radius:50%;

}

.labels{
  font-size: 17px;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 6px black;
    letter-spacing: 1px;
}
.Your{
font-size: 18px;
    font-weight: 600;
    color: wheat;
    text-shadow: 1px 1px 6px black;
    text-align:center;
}
.sect{
  display:grid;
  margin-bottom:20px;
}

.btn .btn-info{
  width: max-content;
  justify-self: center;
  background-color: rgb(35, 35, 212);
  background: linear-gradient(326deg, #0905f9,#9001fdc2);
}

@media only screen and (max-width:600px){
  /* nav bar attributes */
  .logoN{
    display: none;
  }
  .nav-bar{
    padding: 0px;
  }

/* end of navbar */
}