body{
  height: 100vh;
  width: 100%;
  background: url("../uprofile/images/tech1.a7d5f83ecaa7.jpg") center fixed;
  background-size: cover;
  background-color: #0a1d2f;
}
/* nav bar attributes */
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items:center;
  height:max-content;
  padding: 4px 10px;
  background: #303d5c;
  color: #17a2b8;
  position:fixed;
  width:100%;
  z-index:4;
  top:0;
}
img {
  width:100px;
  height:100px;
  border-radius:50%;
}
.nav-bar a{
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.nav-bar a:active{
  color:darkblue;
}
.nav-bar a:hover{
  text-decoration: none;
  color: rgb(128, 181, 241);

}
.links{
  display: inline-flex;
}
.links a{
  padding-left: 6px;
  padding-right: 6px;
  color:#fff;
}
/* Start of dropdown */
.dropdown .dropbtn {
    background-color: inherit;
   margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #303d5c;
  z-index: 1;
  width: max-content;
}
.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color: rgb(128, 181, 241);
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* End of dropdown */
.user-profile img{
  height: 40px;
  width:40px;
  border-radius: 50%;
  margin-right: 5px;
  }
  .user-profile{
    color:#fff;
    position: relative;
    width:68px;
    text-align: right;
  }
  .user-dropdown{
    padding-left: 3px;
    position: absolute;
    background-color: #303d5c;
    z-index: 1;
    /* padding: 6px; */
    padding-top: 5px;
    width: max-content;
    padding-right: 5px;
    display: none;
    text-align: left;
  }
  .user-profile:hover .user-dropdown{
display: grid;
  }
  .user-profile:focus .user-dropdown{
    display: grid;
  }
  .logoN{
    font-size:22px;
    font-family:cursive,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* End of nav */
input[type = "file"] {
  border: none;
}
.details{
  width: max-content;
  margin-left: 10px;
    font-weight: 700;
    color: #01094a;
    letter-spacing: 1px;
    text-shadow: 0px 1px 7px #8c8888;
}
.main-window .main-frame-details{
  margin:auto auto;
  width: max-content;
  border-style: solid;
  border-color: #18b8b9;
    border-radius: 10px;
  background: #f5f2f261;
}
.profile {
  display: block;
  margin: 0px auto;
}
.profile >img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0px auto;
  border-radius: 50%;
}

table {
  margin: 0px auto;
  margin-top: 3vw;
  text-align: center;
}
input {
  border: 0px;
  padding: 5px;
  border-radius: 2px;
  border: 0px;
    text-align: left;
    font-size: 17px;
    background: #00000091;
    color: #abfbf3;
    padding-left: 10px;
    font-weight: 400;
    width: 85%;
    text-shadow: 1px 1px 6px black;
}
input:focus{
  border-bottom:2px solid wheat ;
}
input[type = "file"] {
  border: none;
  background: #000000b3;
}
/* new version */
.main-container{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.main-details{
  display: grid;
    justify-items: center;
    align-content: center;
}
.info{
  display:grid;
  margin-left: 5px;
}
.profilef{
  width:100px;
  height:100px;
  border-radius:50%;
}
.labels{
  font-size: 17px;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 6px black;
    letter-spacing: 1px;
}
.Your{
font-size: 18px;
    font-weight: 600;
    color: wheat;
    text-shadow: 1px 1px 6px black;
    text-align:center;
}
.sect{
  display:grid;
  margin-bottom:20px;
}
.btn{
  margin-bottom: 10px;
  width: max-content;
  justify-self: center;
  /* background: linear-gradient(326deg, #0905f9,#9001fdc2); */
}
.changepassword {
  background-color: #978da2ba;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0px;
  left: 0px;
}

.passwordform {
  margin-top: 20%;

}

.close {
  font-size: 50px;
  position: fixed;
  top: 0px;
  right: 0px;
}
.close:hover {
  color: red;
  cursor: pointer;
}
.onefieldpassword {
  width: 60%;
  height: 60%;
  margin: auto;
}
.changepass {
  margin: 10px auto;
  display: block;
}
@media only screen and (max-width:600px){
  /* nav bar attributes */
  .user-dropdown a{
    display: none;
  }
  .logoN{
    display: none;
  }
  .nav-bar{
    padding: 0px;
  }
  .sect{
    margin-bottom: 5px;
  }
/* end of navbar */
}
