{% load static %}
<!DOCTYPE html>
<html >
<head>
	<meta lang="en" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<title>DevCodes | Login </title>
	<link rel="stylesheet" href="{% static 'home/spinner.css' %}">
	<link rel="icon" href="{% static 'questions/images/devcodes.svg' %}" name="favicon">
	<link rel="stylesheet" href="{% static 'login/styles.css' %}"/>
</head>
<body>
<!-- Begining of spinner -->
<div class="loader-wrapper" id="ld">
	<span class="loader"><span class="loader-inner"></span></span>
		</div>
		<!-- End of spinner -->
	<div class="bon">
		<div class="prof-pic">
			<img src="{% static 'questions/images/devtitle.svg' %}" class="myimg" alt="logo" style="width: 100px;">
		</div>
		<div class="bony">

	<form action="{% url 'login:login' %}" method="POST" class="form-hander">
		{% csrf_token %}
		<h3> Login Here</h3>

		{% for error in error_log %}
		<label class="inputlabel">
			{{error}}
		</label>
		{% endfor %}
		<input type="text" placeholder="Username" name = "username" id="username" required class="input">

		<input type="password" placeholder="Password" name = "password" id="password" required class="input">
		<p>
				<div class="keepme">
					<input type="checkbox" id="keepme">
					<label for="keepme">keep me signed in</label>
				</div>

			</p>
		<input type="submit" value="login" class="input">

		<div class="forgot"  id="forgot">
			<a href="{% url 'login:forgot' %}">
					forgot password?
			</a>
		</div>

		<p style="text-align:center">
			<span class="new">New member? </span>

			<a class="link" href="{% url 'signup:signup' %}">
				Signup
			</a>

		</p>
	</form>
	</div>
</div>
<script>
	 // Listen for when everything has loaded
     window.addEventListener("load", removePage, false);
        const loader = document.getElementById('ld');
        function removePage(){
          loader.classList.add('shrink');
        }
</script>
</body>
</html>
