{% load static %}
<!DOCTYPE html>
<html >
<head>
	<meta lang="en" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<title>Vibes | Login</title>
	<link rel="stylesheet" href="{% static 'login/styles.css' %}"/>
	
</head>

<body>
	<div class="bon">
		<div class="prof-pic">
		<img src="{% static 'home/images/logo/blackhat.jpg' %}" alt="image" id="photo" vibes>
		</div>
	
	
		<div class="bony">

	<form action="{% url 'login:login' %}" method="POST" class="form-hander">
		{% csrf_token %}
		<h3> Login Here</h3>

		{% for error in error_log %}
		<label class="inputlabel">
			{{error}}
		</label>
		{% endfor %}
		<input type="text" placeholder="Username" name = "username" id="username" required class="input">

		<input type="password" placeholder="Password" name = "password" id="password" required class="input">
		<p>
				<div class="keepme">
					<input type="checkbox" id="keepme">
					<label for="keepme">keep me signed in</label>
				</div>

			</p>
		<input type="submit" value="login" class="input">

		<div class="forgot"  id="forgot">
			<a href="{% url 'login:forgot' %}">
					forgot password?
			</a>
		</div>

		<p style="text-align:center">
			<span class="new">New member?</span>

			<a class="link" href="{% url 'signup:signup' %}">
				Signup
			</a>

		</p>
	</form>
	</div>
</div>

</body>
</html>
