{% load static %}
<!DOCTYPE html>
<html >
<head>
	<meta lang="en" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<title>DevCodes | account Activation</title>
	<link rel="stylesheet" href="{% static 'login/styles.css' %}"/>
	<link rel="icon" href="{% static 'questions/images/devtitle.svg' %}" name"favicon">
</head>

<body>

<!-- Begining of spinner -->
<div class="loader-wrapper" id="ld">
	<span class="loader"><span class="loader-inner"></span></span>
		</div>
		<!-- End of spinner -->


		<img src="{% static 'questions/images/devcodes _svg_lg.svg' %}" alt="image" id="photo">

	<div class="bon">
		<div class="bony">

	<form action="{% url 'login:forgot' %}" method="POST">

		{% csrf_token %}
		<h3>Enter the Activation code</h3>



		{% for errors in error %}
		<label class="inputlabel">
			{{errors}}
		</label>
		{% endfor %}
		<input type="text" placeholder="verification code" name = "verifcode" id="username" required class="input" autocomplete>
		<!-- <p>
		</p> -->
		<input type="submit" value="Recover" class="input">

		<div class="forgot"  id="forgot">
			<a href="{% url 'login:login' %}">
					Login instead?
			</a>
		</div>

		<p style="text-align:center">
			<span class="new">New member?</span>

			<a class="link" href="{% url 'signup:signup' %}">
				<b>Signup</b>
			</a>

		</p>
	</form>
	</div>
</div>
<script>
	 // Listen for when everything has loaded
     window.addEventListener("load", removePage, false);
        const loader = document.getElementById('ld');
        function removePage(){
          loader.classList.add('shrink');
        }
</script>
</body>
</html>
