body {
  background-color: #0a1d2f;
}

.myimg {
  font-size: 25px;
}
img {
  width:60px;
  height:60px;
  border-radius:50%;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items:center;
  height:max-content;
  padding: 4px 10px;
  background: #303d5c;
  color: #17a2b8;
  position:fixed;
  width:100%;
  z-index:4;
  top:0;
}
.nav-bar a{
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.nav-bar a:active{
  color:darkblue;
}
.nav-bar a:hover{
  text-decoration: none;
  color: rgb(128, 181, 241);
}
.links{
  display: inline-flex;
}
.links a{
  padding-left: 6px;
  padding-right: 6px;
  color:#fff;
}
/* Start of dropdown */
.dropdown .dropbtn {
    background-color: inherit;
   margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #303d5c;
  z-index: 1;
  width: max-content;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: rgb(128, 181, 241);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.small-personalize {
  display: none;
}
/* End of dropdown */
.user-profile img{
  height: 40px;
  width:40px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  }
  .user-profile{
    color:rgb(255, 255, 255);
    position: relative;
  }
  .user-dropdown{
    position: absolute;
    background-color: #303d5c;
    z-index: 1;
    padding: 3px;
    padding-top: 5px;
    width: max-content;
    padding-right: 5px;
    display: none;
  }
  .user-profile:hover .user-dropdown{
    display: grid;
  }
  .user-profile:focus .user-dropdown{
    display: grid;
  }
  .logoN{
    font-size:22px;
    font-family:cursive,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* end of navbar */
#relsearch {
  text-align: center;
  margin: 12px;
}

#resultscount {
  display: block;
  text-align: center;
  width: 100%;
}
hr {
  width: 80%;
}
.header {
  background-color: #633f3f;
  min-height: 8vh;
  width: 100%;
}
.header > nav {
  display: inline-block;
  padding: 10px;
}
.header > nav>a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.header > .myprofile {
  display: inline-block;
  margin:7px 7px 0px 0px;
}
.myprofile > a > img {
    width: 50px;
    height: 50px;
    border-radius:50%;
 }
.search {
   display: flex;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 30px;
 }
.slen {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  display: inline;
  flex:1;
}
.logo>img {
  width: 80px;
  height: 80px;
  border-radius:50%;
  margin: 5px 0px 5px 5px;
}
.search-form {
  display: inline;
  flex:3;
}
.search-form>input[type="search"]{
  margin: 20px 0px 20px 40px;
  border-radius: 20px;
  text-align: center;
}
.search-form>button[type="submit"]{
  border-radius: 10px;
  padding: 3px;
  margin-left: 5px;
}
.main {
   margin-top: 120px;
   width: 70%;
   background-color: #e8eaec;
   margin-left: auto;
   margin-right: auto;
   border-radius: 30px;
   margin-bottom: 30px;
   min-height: 80vh;
}
.user-infor {
  display: flex;
  width: 70%;
  border-bottom: .5px solid #000;
  margin: 0px auto;
}
.detail-user {
  flex: 6;
  margin-top: 10px;
}
.user-infor:last-child {
  border: 0px;
}
.profile {
  flex: 1;
  box-sizing: border-box;
}
.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
}
.profile > p {
  margin-left: 6px;
}
.detail-user > p {
  text-align: center;
}
.lower-user {
  display: inline-block;
  margin: 10px;
}
.lower-user > a {
  text-decoration: none;
  color: #2c3a4a;
}
@media screen and (max-width:800px) {
  .main {
    width: 96%;
  }
  .user-infor {
    width: 100%;
    font-size: 12px;
  }
.header {
  min-height: 10vh;
}
.search {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
  .logo {
    display: none;
  }
  .logo > img {
    width: 70px;
    height: 70px;
    margin: 0px 0px 0px 30px;
  }
  .search-form {
    display: block;
    width: 80%;
    margin:0px auto;
    margin: 0px 10px 10px 10px;
    border-radius: 20px;
    text-align: center;
  }
  .search-form>input[type="search"]{
    margin: 20px 0px 20px 20px;
    border-radius: 20px;
    text-align: center;
  }
  .small-personalize {
    display: block;
}
.personalize {
  display: none;
}

@media only screen and (max-width:600px){
  .nav-bar{
    padding: 0px;
  }
  a .fa .fa-caret-down{
    display: none;
  }
  .dropbtn i{
    display: none;
  }
  .small-personalize {
    display: block;
}
.personalize {
  display: none;
}
body {
  background-color: #0a1d2f;
}
/* nav-bar beginning */
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items:center;
  height:max-content;
  padding: 4px 10px;
    background: #303d5c;
    color: #17a2b8;
}
.nav-bar a{
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.nav-bar a:active{
  color:darkblue;
}
.nav-bar a:hover{
  text-decoration: none;
  color: rgb(128, 181, 241);

}
.links{
  display: inline-flex;
}
.links a{
  padding-left: 6px;
  padding-right: 6px;
  color:#fff;
}

/* Start of dropdown */


.dropdown .dropbtn {
    background-color: inherit;
   margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #303d5c;
  z-index: 1;
  width: max-content;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: rgb(128, 181, 241);
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* End of dropdown */
.user-profile img{
  height: 40px;
  width:40px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  }
  .user-profile{
    color:rgb(255, 255, 255);
    position: relative;
  }
  .user-dropdown{
    position: absolute;
    background-color: #303d5c;
    z-index: 1;
    padding: 3px;
    padding-top: 5px;
    width: max-content;
    padding-right: 5px;
    display: none;
  }
  .user-profile:hover .user-dropdown{
    display: grid;
  }
  .user-profile:focus .user-dropdown{
    display: grid;
  }


  .logoN{
    font-size:22px;
    font-family:cursive,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* end of navbar */


#relsearch {
  text-align: center;
  margin: 12px;
}

#resultscount {
  display: block;
  text-align: center;
  width: 100%;
}

hr {
  width: 80%;
}


.header {
  background-color: #633f3f;
  min-height: 8vh;
  width: 100%;
}


.header > nav {
  display: inline-block;
  padding: 10px;
}

.header > nav>a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}


.header > .myprofile {
  display: inline-block;
  margin:7px 7px 0px 0px;
}

.myprofile > a > img {
    width: 50px;
    height: 50px;
    border-radius:50%;
 }



 .search {
   display: flex;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 30px;
 }


.slen {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: inline;
  flex:1;
}

.logo>img {
  width: 80px;
  height: 80px;
  border-radius:50%;
  margin: 5px 0px 5px 5px;
}


.search-form {
  display: inline;
  flex:3;
}

.search-form>input[type="search"]{
  margin: 20px 0px 20px 40px;
  border-radius: 20px;
  text-align: center;
}


.search-form>button[type="submit"]{
  border-radius: 10px;
  padding: 3px;
  margin-left: 5px;
}


 .main {
   margin-top: 10px;
   width: 50%;
   background-color: #e8eaec;
   margin-left: auto;
   margin-right: auto;
   border-radius: 15px;
   margin-bottom: 30px;
   min-height: 96vh;
}

.user-infor {
  display: flex;
  width: 70%;
  border-bottom: .5px solid #000;
  margin: 0px auto;

}


.detail-user {
  flex: 6;
  margin-top: 10px;
}

.user-infor:last-child {
  border: 0px;
}

.profile {
  flex: 1;
  box-sizing: border-box;
}


.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
}


.profile > p {
  margin-left: 6px;
}

.detail-user > p {
  text-align: center;
}


.lower-user {
  display: inline-block;
  /* float: right; */
  margin: 10px;
}


.lower-user > a {
  text-decoration: none;
  color: #2c3a4a;
}


@media screen and (max-width:800px) {
  .main {
    width: 96%;
    display: block;
    margin: 0px auto;
    margin-top: 10px;
  }


  .user-infor {
    width: 100%;
    font-size: 12px;
  }

.header {
  min-height: 10vh;
}

.search {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
  .logo {
    display: none;
  }

  .logo > img {
    width: 70px;
    height: 70px;
    margin: 0px 0px 0px 30px;
  }


  .search-form {
    display: block;
    width: 80%;
    margin:0px auto;
    margin: 0px 10px 10px 10px;
    border-radius: 20px;
    text-align: center;
  }


  .search-form>input[type="search"]{
    margin: 20px 0px 20px 20px;
    border-radius: 20px;
    text-align: center;
  }
}
@media only screen and (max-width:600px){
  .user-dropdown a {
    display: none;
  }
  .logoN{
    display: none;
  }
  .nav-bar{
    padding: 0px;
  }
  a .fa .fa-caret-down{
    display: none;
  }

  .dropbtn i{
    display: none;
  }
}
>>>>>>> origin/pami
