{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" href="{% static 'questions/images/devcodes.svg' %}" name"favicon">
    <meta charset="utf-8">
    <title>DevCodes  | Error 404</title>
    <link rel="stylesheet" href="{% static 'bugs/404.css' %}">
  </head>
  <body>
    <div class="main-div">

      <div class="Message">
          <strong>Oops, What you where looking for was not found. Mean time you can go back.</strong>
          <a href="{% url 'home:home' %}">home</a>
      </div>


      <div class="links">
      </div>

    </div>

  </body>
</html>
