{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" href="{% static 'questions/images/devcodes.svg' %}" name"favicon">
    <meta charset="utf-8">
    <title>Devcodes | Error 500</title>
    <link rel="stylesheet" href="{% static 'bugs/404.css' %}">
  </head>
  <body>
    <div class="Message">
        <strong>Oops, seems you touched the wrong button. Dont worry the admin is gonna fix it. Mean time you can go back</strong>
        <a href="{% url 'home:home' %}">home</a>
    </div>
  </body>
</html>
