{% load static %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>DevCodes | profile</title>
    <link rel="icon" href="{% static 'questions/images/devtitle.svg' %}" name"favicon">
    <link rel="stylesheet" href="{% static 'uprofile/uprofile.css' %}">
    <link rel="stylesheet" href="{% static 'home/spinner.css' %}">
    <link rel="stylesheet" href="{% static 'home/icon.css' %}">
  </head>
  <body>
<!-- Begining of spinner -->
<div class="loader-wrapper" id="ld">
  <span class="loader"><span class="loader-inner"></span></span>
      </div>
      <!-- End of spinner -->
     <!-- new nav-bar -->
     <div class="nav-bar">
  <!-- Home icon Beginning -->
  <div class="full-icon" id="full">
    <div class="row">
        <div class="dot"></div>   <div class="line"></div>
    </div>
    <div class="row">
        <div class="dot"></div>   <div class="line"></div>
    </div>
    <div class="row">
        <div class="dot"></div>   <div class="line"></div>
    </div>
</div>
<div class="no-padding" id="ex">
    <div class="forward-slash"></div>
    <div class="backward-slash"></div>
</div>
<div class="icon-links" id="iLinks">
  <a href="{% url 'home:home' %}" class="Plinks">Home</a>
<a href="{% url 'peers:peers' %}" class="Plinks">Peers</a>
{% if mydetails.is_admin %}
<a href="{% url 'chatroom:adminpanel' %}" class="Plinks">Admin</a>
{% else %}
{% endif %}
<a href="{% url 'questions:questions' %}" class="Plinks">Questions
 <i class="fa fa-caret-down"></i></a>
<a href="{% url 'questions:myquestions' %}" class="Plinks-in">My Questions</a>
<a href="{% url 'chatroom:inbox' %}" class="Plinks">Inbox <i class="fa fa-envelope"> {{newmessage}}</i>
     </a>
<a href="{% url 'profile:profile' %}" class="Plinks"> Edit profile </a>
<a href="{% url 'login:logout' %}" class="Plinks">  Log out </a>
</div>
<!-- Ending of icon -->
      <div class="links">
        <a href="{% url 'home:home' %}">Home</a> |

        <a href="{% url 'peers:peers' %}">Peers</a> |
        {% if mydetails.is_admin %}
        <a href="{% url 'chatroom:adminpanel' %}">Admin</a>

        {% else %}

        {% endif %}
          <!-- dropdowm for questions -->
        <div class="dropdown">
       <div class="dropbtn"> <a href="{% url 'questions:questions' %}">Questions<i class="fa fa-caret-down"></i></a>  </div>
        <div class="dropdown-content">   <a href="{% url 'questions:myquestions' %}">My Questions</a>  </div>
     </div>

        |
        <a href="{% url 'chatroom:inbox' %}">Inbox
          <i class="fa fa-envelope"> {{newmessage}}</i>
        </a>
        </div>
        <div class="logoN" id="upPart">
           <img src="{% static 'questions/images/devcodes _svg_lg.svg' %}" class="myimg" alt="logo">
        </div>
        <div class="user-profile">
          <a> <i class="fa fa-bell">{{notifs}}</i> </a>

            <!-- <img src="{{ mydetails.profilepic.url }}" alt="{{ mydetails.username }}"
             style="width:40px; height:40px; border-radius:50%;"> -->
             {% cloudinary mydetails.profilepic.url className="myimg" height=200 width=100 alt=mydetails.username title=mydetails.username %}
             <div class="user-dropdown">
               <!-- <a href="{% url 'profile:profile' %}" style="border-bottom: 1px solid grey;">
                 Edit profile
               </a> -->
               <a href="{% url 'login:logout' %}">
                 Log out
               </a>
             </div>
      </div>
  </div>
      <div class="main-container">

      <div class="main-details">
        <!-- profile pic -->

          <!-- <img src="{{ mydetails.profilepic.url }}" class="profile-image" alt="profile"> -->
          {% cloudinary mydetails.profilepic.url className="profile-image" height=200 width=100 alt=mydetails.username title=mydetails.username %}


          <!-- update form -->
          <form class="" action="{% url 'profile:update' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <fieldset>

            <div class="info">
               <div class="Your"> Your details</div>
                  <div class="sect">
                  <label class="labels">Username</label>

                  <input type="text" class="entry" name="username" value="{{mydetails.username}}" placeholder="Enter username"
                  id="username">
              </div>
                    <div class="sect">
                  <label class="labels">Phone</label>



                  <input type="text" class="entry" name="phone" value="{{mydetails.pnumber}}" placeholder="Phone number" id="phone">
               </div>

               <div class="sect">

                  <label class="labels">Email</label>

                  <input type="text" class="entry" name="email" value="{{mydetails.email}}" placeholder="Enter email" id="email">
               </div>

              <!-- <tr>
                <td>
                  <label>password</label>
                </td>
                <td>
                  <input type="text" name="password" value="">
                </td>
              </tr> -->
                <div class="sect">

                  <label class="labels">Language</label>

                  <input type="text" class="entry" name="language" value="{{mydetails.hobby}}" placeholder="Coding languages" id="language">
                </div>

                <div class="sect">
                  <label class="labels">Profile</label>

                  <input type="file" class="entry" name="profile" value="{{mydetails.profilepic}}">

                </div>

                  <button type="submit" name="submit" class="btn btn-info" onclick="auth()">Update</button>
                </div>
          </fieldset>
          </form>

        </div>
      </div>



  </body>

  <script type="text/javascript">

     // Listen for when everything has loaded
     window.addEventListener("load", removePage, false);
        const loader = document.getElementById('ld');
        function removePage(){
          loader.classList.add('shrink');
        }

         // home icon

  const full = document.getElementById('full');
        const ex = document.getElementById('ex');
        const iLinks = document.getElementById('iLinks');

        full.addEventListener('click',function(){
            // full.classList.add('removeIcon');
            full.style.display = 'none';
            // ex.classList.add('showIcon');
            ex.style.display = 'flex';
            iLinks.style.display = 'flex';
        });
        ex.addEventListener('click',function(){
            // full.classList.remove('removeIcon');
            full.style.display = 'flex';
            // ex.classList.remove('showIcon');
            ex.style.display = 'none';
            iLinks.style.display = 'none';
        });

        // end of home icon

    function auth() {
      var xml = new XMLHttpRequest();

      xml.onreadystatechange = function() {
        if(this.readyState == 4 && this.status == 200){

          alert(this.responseText);
        }
      }
      var data = JSON.stringify({"username":"duncan"});
      xml.setRequestHeader("X-CSRFToken" , "{{ csrf_token }}");
      xml.open("POST" , "{% url 'profile:update' %}");
      xml.send();
    }
  </script>
</html>
