{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>DevCodes | profile</title>
    <link rel="stylesheet" href="{% static 'uprofile/uprofile.css' %}">
  </head>
  <body>



     <!-- new nav-bar -->
     <div class="nav-bar">
      <div class="links">
        <a href="{% url 'home:home' %}">Home</a> |

        <a href="{% url 'peers:peers' %}">Peers</a> |
        {% if mydetails.is_admin %}
            <a href="{% url 'chatroom:adminpanel' %}">Panel</a>
        {% else %}
        {% endif %}
          <!-- dropdowm for questions -->
        <div class="dropdown">
       <div class="dropbtn"> <a href="{% url 'questions:questions' %}">Questions<i class="fa fa-caret-down"></i></a>  </div>
        <div class="dropdown-content">   <a href="{% url 'questions:myquestions' %}">My Questions</a>  </div>
     </div>

        |
        <a href="{% url 'chatroom:inbox' %}">Inbox</a>
        <a href="{% url 'chatroom:inbox' %}">
          <i class="fa fa-envelope"> {{newmessage}}</i>
        </a>
        </div>
        <div class="logoN" id="upPart">
        DevCodes/>
      </div>

        {% if userlog %}
        <div class="user-profile">
          <a> <i class="fa fa-bell">{{notifs}}</i> </a>

            <img src="/media/{{userinfo.profilepic}}" alt="profile"
             style="width:40px; height:40px; border-radius:50%;">
             <div class="user-dropdown">
               <!-- <a href="{% url 'profile:profile' %}" style="border-bottom: 1px solid grey;">
                 Edit profile
               </a> -->
               <a href="{% url 'login:login' %}">
                 Log out
               </a>
             </div>


          <a href="{% url 'questions:questions' %}">Questions</a> |
          <a href="{% url 'peers:peers' %}">Peers</a> |
          <a href="{% url 'home:home' %}">Chat</a>
          <a href="{% url 'home:home' %}">Home</a>

          <img src="/media/{{mydetails.profilepic}}" alt="profile" class="nav-profile">


      </div>
        {% else %}
        <div class="user-profile">
            <img src="/media/{{mydetails.profilepic}}" alt="profile"
            style="width:40px; height:40px; border-radius:50%;">
            <div class="user-dropdown">
              <!-- <a href="{% url 'profile:profile' %}" style="border-bottom: 1px solid grey;">
                Edit profile
              </a> -->
              <a href="{% url 'login:login' %}">
                Log out
              </a>
            </div>


      </div>
        {% endif %}
  </div>
      <div class="main-container">

      <div class="main-details">
        <!-- profile pic -->

          <img src="/media/{{mydetails.profilepic}}" class="profile-image" alt="profile">



          <!-- update form -->
          <form class="" action="{% url 'profile:update' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <fieldset>

            <div class="info">
               <div class="Your"> Your details</div>
                  <div class="sect">
                  <label class="labels">Username</label>

                  <input type="text" class="entry" name="username" value="{{mydetails.username}}" placeholder="Enter username"
                  id="username">
              </div>
                    <div class="sect">
                  <label class="labels">Phone</label>



                  <input type="text" class="entry" name="phone" value="{{mydetails.pnumber}}" placeholder="Phone number" id="phone">
               </div>

               <div class="sect">

                  <label class="labels">Email</label>

                  <input type="text" class="entry" name="email" value="{{mydetails.email}}" placeholder="Enter email" id="email">
               </div>

              <!-- <tr>
                <td>
                  <label>password</label>
                </td>
                <td>
                  <input type="text" name="password" value="">
                </td>
              </tr> -->
                <div class="sect">

                  <label class="labels">Language</label>

                  <input type="text" class="entry" name="language" value="{{mydetails.hobby}}" placeholder="Coding languages" id="language">
                </div>

                <div class="sect">
                  <label class="labels">Profile</label>

                  <input type="file" class="entry" name="profile" value="{{mydetails.profilepic}}">

                </div>

                  <button type="submit" name="submit" class="btn btn-info" onclick="auth()">Update</button>
                </div>
          </fieldset>
          </form>

        </div>
      </div>



  </body>
  <script type="text/javascript">
    function auth() {
      var xml = new XMLHttpRequest();

      xml.onreadystatechange = function() {
        if(this.readyState == 4 && this.status == 200){

          alert(this.responseText);
        }
      }
      var data = JSON.stringify({"username":"duncan"});
      xml.setRequestHeader("X-CSRFToken" , "{{ csrf_token }}");
      xml.open("POST" , "{% url 'profile:update' %}");
      xml.send();
    }
  </script>
</html>
