{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Dev Code | profile</title>
    <link rel="stylesheet" href="{% static 'uprofile/uprofile.css' %}">
  </head>
  <body>

    <div class="main-window">
      <div class="nav-bar">
          <a href="{% url 'home:home' %}">home</a> |
          <a href="{% url 'questions:questions' %}">Questions</a> |
          <a href="{% url 'peers:peers' %}">peers</a> |
          <a href="{% url 'home:home' %}">Chat</a>
      </div>
      <div class="main-frame-details">
        <!-- profile pic -->
        <p class="profile">
          <img src="/media/{{mydetails.profilepic}}" alt="profile">
        </p>
        <div class="details">
          <!-- update form -->
          <form class="" action="{% url 'profile:update' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <fieldset>
            <table cellpadding = 5>
              <th>
                <td>Your details</td>
              </th>
              <tr>

                <td>
                  <label class="labels">Username</label>
                </td>

                <td>
                  <input type="text" name="username" value="{{mydetails.username}}" id="username">
                </td>
              </tr>


              <tr>

                <td>
                  <label class="labels">Phone</label>
                </td>

                <td>
                  <input type="text" name="phone" value="{{mydetails.pnumber}}" id="phone">
                </td>
              </tr>


              <tr>

                <td>
                  <label class="labels">Email</label>
                </td>

                <td>
                  <input type="text" name="email" value="{{mydetails.email}}" id="email">
                </td>
              </tr>

              <!-- <tr>

                <td>
                  <label>password</label>
                </td>

                <td>
                  <input type="text" name="password" value="">
                </td>
              </tr> -->

              <tr>

                <td>
                  <label class="labels">Language</label>
                </td>

                <td>
                  <input type="text" name="language" value="{{mydetails.hobby}}" id="language">
                </td>
              </tr>

              <tr>

                <td>
                  <label class="labels">Profile</label>
                </td>

                <td>
                  <input type="file" name="profile" value="">
                </td>
              </tr>

              <tr>

                <td colspan="2" class="updateButton" style="text-align: center;">
                  <button type="submit" name="submit" class="btn btn-info" onclick="auth()">Update</button>
                </td>
              </tr>

            </table>
          </fieldset>
          </form>
        </div>
      </div>

    </div>

  </body>
  <script type="text/javascript">
    function auth() {
      var xml = new XMLHttpRequest();

      xml.onreadystatechange = function() {
        if(this.readyState == 4 && this.status == 200){

          alert(this.responseText);
        }
      }
      var data = JSON.stringify({"username":"duncan"});
      xml.setRequestHeader("X-CSRFToken" , "{{ csrf_token }}");
      xml.open("POST" , "{% url 'profile:update' %}");
      xml.send();
    }
  </script>
</html>
