body {
  background-color: #070f54;
  /* background-color: #242721; */
}

#relsearch {
  text-align: center;
  margin: 12px;
}

#resultscount {
  display: block;
  text-align: center;
  width: 100%;
}

hr {
  width: 80%;
}


.header {
  background-color: #633f3f;
  min-height: 8vh;
  width: 100%;
}


.header > nav {
  display: inline-block;
  padding: 10px;
}

.header > nav>a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}


.header > .myprofile {
  float: right;
  display: inline-block;
  margin:7px 7px 0px 0px;
}

.myprofile > a > img {
    width: 50px;
    height: 50px;
    border-radius:50%;
 }



 .search {
   display: flex;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 30px;
 }


.slen {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: inline;
  flex:1;
}

.logo>img {
  width: 80px;
  height: 80px;
  border-radius:50%;
  margin: 5px 0px 5px 5px;
}


.search-form {
  display: inline;
  flex:3;
}

.search-form>input[type="search"]{
  margin: 20px 0px 20px 40px;
  border-radius: 20px;
  text-align: center;
}


.search-form>button[type="submit"]{
  border-radius: 10px;
  padding: 3px;
  margin-left: 5px;
}


 .main {
   margin-top: 10px;
   width: 50%;
   background-color: #e8eaec;
   margin-left: auto;
   margin-right: auto;
   border-radius: 30px;
   margin-bottom: 30px;
   min-height: 80vh;
}

.user-infor {
  display: flex;
  width: 70%;
  border-bottom: .5px solid #000;
  margin: 0px auto;

}


.detail-user {
  flex: 6;
  margin-top: 10px;
}

.user-infor:last-child {
  border: 0px;
}

.profile {
  flex: 1;
  box-sizing: border-box;
}


.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
}


.profile > p {
  margin-left: 6px;
}

.detail-user > p {
  text-align: center;
}


.lower-user {
  display: inline-block;
  float: right;
  margin: 10px;
}


.lower-user > a {
  text-decoration: none;
  color: #2c3a4a;
}


@media screen and (max-width:800px) {
  .main {
    width: 96%;
    margin: 20px;
  }


  .user-infor {
    width: 100%;
    font-size: 12px;
  }

.header {
  min-height: 10vh;
}

.search {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
  .logo {
    display: none;
  }

  .logo > img {
    width: 70px;
    height: 70px;
    margin: 0px 0px 0px 30px;
  }


  .search-form {
    display: block;
    width: 80%;
    margin:0px auto;
    margin: 0px 10px 10px 10px;
    border-radius: 20px;
    text-align: center;
  }


  .search-form>input[type="search"]{
    margin: 20px 0px 20px 20px;
    border-radius: 20px;
    text-align: center;
  }
}
