body {
  background-color: #070f54;
  /* background-color: #242721; */
}


.header {
  min-height: 6vh;
  background-color: #633f3f;
  width: 100%;
}


.header > nav {
  display: inline-block;
  padding: 10px;
}


a {
  color: #fff;
  text-decoration: none;
}


a:hover {
  text-decoration: none;
  color: #fff;
}


.current-profile {
  float: right;
  display: inline-block;
  margin-top: auto;
  margin-right: 40px;
  display: flex;
}


.current-profile >a>img {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  margin-top: auto;
}

.current-profile >a {
  flex: 1;
}


.bell {
  padding: 10px;
}

.profile {
  width: 60px;
  height: 60px;
}

.profile > img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


.main {
  width: 60vw;
  margin: 0px auto;
  margin-top: 30px;
  background-color: #e8eaec;
  border-radius: 30px;
}


.one-message {
  display: flex;
    box-shadow: 5px 5px 5px #929292;
    width: 90%;
    background-color: #212529;
    color: #fff;
    border-radius: 20px;
}


.first {
  margin: 0px auto;
  margin: 10px 0px 10px 10px;
  padding: 10px;
}


.first  > .profile {
  flex: 1;
  margin-right: 10px;
}


.second {
  margin: 0px auto;
  margin-right: 10px;
  padding: 10px;
  background-color: #000000;
}

.second  > .profile {
  flex: 1;
  margin-left: 2px;
  margin-right: 3px;
}


.one-message  > .profile > img {
  margin: 3px;
  border: .7px solid #fff;
}


.one-message  > .message-content {
  flex: 7;
}


.time {
  float: right;
  margin: 4px 2px 2px 4px;
  color: #359a35;
}


.second-time {
  color: #359a35;
  float: left;
  margin: 4px 2px 2px 4px;
}


.answers {
  display: flex;
  border-bottom: 1px solid #555;
  margin: 10px;
  min-height: 50px;
}

.answers:last-child {
  border-bottom: none;
}


.answer-form {
  display: block;
  margin: 0px auto;
  width: 50vw;
}


#frm {
  margin-top: 50px;
}

.answer-form>form {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.answer-form {
  width: 50vw;
  display: block;
  margin: 0px auto;
}

button[type = "submit"] {
  display: block;
  text-align: center;
  margin: 30px auto;

}

textarea {
  display: block;
  margin: 0px auto;
  border-radius: 30px;
  text-align: center;
}


.unseen {
  background-color: red;
}


.personchat {
  display: block;
  margin: 0px auto;
  padding: 10px;
}

.personchat >img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}


.personchat>p {
  text-align: center;
  font-weight: bold;
}


.messageref {
  color: #000;
  text-decoration: none;
}
@media screen and (max-width:700px) {

  .main {
    width: 94vw;
    margin: 0px auto;
  }


  .one-message {
    font-size: 10px;
    width: 90%;
  }


  .one-message  > .profile > img  {
    margin: 1.3px;
  }


  .one-message  > .profile {
    margin-right: 1.3px:
  }


  .message-content {
    padding: 10px;
  }


  .answer-form>form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }


  .answer-form {
    display: block;
    margin: 0px auto;
    width: 100vw;
  }


  .one-message {
    box-shadow:none;
  }


  .first {
    margin: 0px auto;
    margin: 10px 0px 10px 3px;
    padding: 5px;
  }


  .second {
    margin: 0px auto;
    margin-right: 4px;
    padding: 5px;
    background-color: #000000;
  }

  .current-profile {
    display: none;
  }
}
