{% load static %}
{% load messagecounter %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="icon" href="{% static 'questions/images/devcodes.svg' %}" name="favicon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>DevCodes | peers</title>
    <link rel="stylesheet" href="{% static 'peers/peers.css' %}">
    <link rel="stylesheet" href="{% static 'home/icon.css' %}">
  </head>
  <body>
    <div class="nav-bar">
  <!-- Home icon Beginning -->
  <div class="full-icon" id="full">
    <div class="row">
        <div class="dot"></div>   <div class="line"></div>
    </div>
    <div class="row">
        <div class="dot"></div>   <div class="line"></div>
    </div>
    <div class="row">
        <div class="dot"></div>   <div class="line"></div>
    </div>
</div>
<div class="no-padding" id="ex">
    <div class="forward-slash"></div>
    <div class="backward-slash"></div>
</div>
<div class="icon-links" id="iLinks">
  <a href="{% url 'home:home' %}" class="Plinks">Home</a>
<a href="{% url 'peers:peers' %}" class="Plinks">Peers</a>
<a href="{% url 'questions:questions' %}" class="Plinks">Questions
 <i class="fa fa-caret-down"></i></a>
<a href="{% url 'questions:myquestions' %}" class="Plinks-in">My Questions</a>
<a href="{% url 'chatroom:inbox' %}" class="Plinks">Inbox <i class="fa fa-envelope newmessage"> {{newmessage}}</i>
     </a>
<a href="{% url 'profile:profile' %}" class="Plinks"> Edit profile </a>
<a href="{% url 'login:logout' %}" class="Plinks">  Log out </a>
</div>
<!-- Ending of icon -->
      <div class="links">
        <a href="{% url 'home:home' %}">Home</a> |
          <!-- A dropdown for questions -->
        <div class="dropdown">
       <div class="dropbtn"> <a href="{% url 'questions:questions' %}">Questions<i class="fa fa-caret-down"></i></a>  </div>
        <div class="dropdown-content">   <a href="{% url 'questions:myquestions' %}">My Questions</a>  </div>
     </div>
        |
        <a href="{% url 'chatroom:inbox' %}">Inbox</a>
        <a href="{% url 'chatroom:inbox' %}">
          <i class="fa fa-envelope newmessage"> {{newmessage}}</i>
        </a>
        </div>
        <div class="logoN">
          <img src="{% static 'questions/images/devtitle.svg' %}" class="myimg" alt="logo" style="width:100px; height:50px;">
        </div>
      <div class="user-profile">
        <a> <i class="fa fa-bell" id="notif1">{{notifs}}</i> </a>
           {% cloudinary user.profilepic.url className="myimg" alt=user.username title=user.username height=200 width=100 %}

           <div class="user-dropdown">
             <a href="{% url 'profile:update' %}">Edit profile</a>
             <a href="{% url 'login:logout' %}">
               Log out
             </a>
           </div>
    </div>
  </div>
    <!-- main page -->
    <div class="main">
      <div class="search" id="upPart">
        <p class="logo">
          <img src="{% static 'questions/images/devtitle.svg' %}" class="myimg" alt="logo">
        </p>
          <form class="search-form" action="{% url 'peers:locatepeers' %}" method="get">
            <input type="search" name="peer" placeholder="Search" required autocomplete="language" value="{{query}}" maxlength="30">
            <button type="submit" name="button" class="btn btn-info">search</button>
            <br>
              <select class="slen" name="critrion" size="1">
                <option value="language" selected>language</option>
                <option value="username">username</option>
                <option value="location">location</option>
              </select>
          </form>
      </div>
          <h5 id="relsearch">{{rlsearch}}</h5>
          <small id="resultscount"> {{small}} {{no_of_results}}</small>
      <hr>
      {% for usr in users %}

      <div class="user-infor">
        <div class="profile">
          {% cloudinary usr.profilepic.url className=usr.username title=usr.username alt=usr.username height=200 width=100 %}
        </div>

        <div class="detail-user">
            <p>
              username - {{usr.username}}
            </p>
            <p class="">
               <i class="fa fa-heart"></i> Language - {{usr.hobby}}
            </p>

            <p class="lower-user">
              <i class="fa fa-map-marker"> {{usr.location}}</i>
            </p>

            <p class="lower-user">
              <a href="{% url 'chatroom:chatroom' usr.uid %}">
                Chat <i class="fa fa-envelope">  {{ usr | messenger:user }}</i>
              </a>
            </p>
        </div>
      </div>

      {% endfor %}
    </div>
    <!-- footer  -->

    <div class="footer">

    </div>
<script>
   // home icon

   const full = document.getElementById('full');
        const ex = document.getElementById('ex');
        const iLinks = document.getElementById('iLinks');

        full.addEventListener('click',function(){
            // full.classList.add('removeIcon');
            full.style.display = 'none';
            // ex.classList.add('showIcon');
            ex.style.display = 'flex';
            iLinks.style.display = 'flex';
        });
        ex.addEventListener('click',function(){
            // full.classList.remove('removeIcon');
            full.style.display = 'flex';
            // ex.classList.remove('showIcon');
            ex.style.display = 'none';
            iLinks.style.display = 'none';
        });

        // end of home icon

        $(document).ready(function(){
          function checknewmessage(){
            try {
              var xmlhttp = new XMLHttpRequest();
            } catch (e) {
              var xmlhttp = new ActiveXObject();
            } finally {
              xmlhttp.onreadystatechange = function(){
                if (this.readyState ==4 && this.static==200) {
                  alert(this.responseText);
                  var elemenets = document.getElementsByClassName('newmessage');
                  for (var i = 0; i < elemenets.length; i++) {
                    elemenets[i].innerHTML = this.responseText
                  }
                }
              }
              xmlhttp.open("POST" , "{% url 'chatroom:newmessage' %}" , true);
              xmlhttp.setRequestHeader("X-CSRFToken" , "{{csrf_token}}");
              xmlhttp.setRequestHeader("Content-Type" , "application/x-www-form-urlencoded");
              xmlhttp.send();
            }
          }
          setInterval(function(){
            checknewmessage();
          } , 3000);
        });
</script>
  </body>
</html>
