{% load static %}
{% load messagecounter %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>DevCodes | peers</title>
    <link rel="stylesheet" href="{% static 'peers/peers.css' %}">
  </head>
  <body>
    <div class="nav-bar">
      <div class="links">
        <a href="{% url 'home:home' %}">Home</a> |

          <!-- A dropdown for questions -->
        <div class="dropdown">
       <div class="dropbtn"> <a href="{% url 'questions:questions' %}">Questions<i class="fa fa-caret-down"></i></a>  </div>
        <div class="dropdown-content">   <a href="{% url 'questions:myquestions' %}">My Questions</a>  </div>
     </div>

        |
        <a href="{% url 'chatroom:inbox' %}">Inbox</a>
        <a href="{% url 'chatroom:inbox' %}">
          <i class="fa fa-envelope"> {{newmessage}}</i>
        </a>
        </div>
        <div class="logoN">
        DevCodes/>
        </div>

        <div class="user-profile">
          <a> <i class="fa fa-bell">5</i> </a>
          <a href="{% url 'profile:profile' %}">
            <img src="/media/{{user.profilepic}}" alt="profile" style="width:40px; height:40px; border-radius:50%;">
          </a>
      </div>
  </div>



    <!-- main page -->
    <div class="main">
      <div class="search" id="upPart">
        <p class="logo">
          <img src="{% static 'home/images/logo/blackhat.jpg' %}" alt="">
        </p>
          <form class="search-form" action="{% url 'peers:locatepeers' %}" method="get">
            <input type="search" name="peer" placeholder="Search" required autocomplete="language" value="{{query}}">
            <button type="submit" name="button" class="btn btn-info">search</button>
            <br>
              <select class="slen" name="critrion" size="1">
                <option value="language" selected>language</option>
                <option value="username">username</option>
                <option value="email">email</option>
                <option value="location">location</option>
                <option value="phone">phone</option>
              </select>
          </form>
      </div>
          <h5 id="relsearch">{{rlsearch}}</h5>
          <small id="resultscount"> {{small}} {{no_of_results}}</small>
      <hr>
      {% for usr in users %}

      <div class="user-infor">
        <div class="profile">
          <img src="/media/{{usr.profilepic}}" alt="profile" title="{{usr.username}}">
        </div>

        <div class="detail-user">
            <p>
              username - {{usr.username}}
            </p>
            <p class="">
               <i class="fa fa-heart"></i> Language - {{usr.hobby}}
            </p>

            <p class="lower-user">
              <i class="fa fa-map-marker"> {{usr.location}}</i>
            </p>

            <p class="lower-user">
              <a href="{% url 'chatroom:chatroom' usr.uid %}">
                Chat <i class="fa fa-envelope">  {{ usr | messenger:user }}</i>
              </a>
            </p>
        </div>
      </div>

      {% endfor %}
    </div>
    <!-- footer  -->

    <div class="footer">

    </div>

  </body>
</html>
