{% load static %}
{% load timemod %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="icon" href="{% static 'questions/images/devcodes.svg' %}" name="favicon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Dev Code | Inbox </title>
    <link rel="stylesheet" href="{% static 'questions/answers.css' %}">
    <link rel="stylesheet" href="{% static 'home/icon.css' %}">
  </head>
  <body>
    <div class="nav-bar">
      <!-- Home icon Beginning -->
    <div class="full-icon" id="full">
      <div class="row">
          <div class="dot"></div>   <div class="line"></div>
      </div>
      <div class="row">
          <div class="dot"></div>   <div class="line"></div>
      </div>
      <div class="row">
          <div class="dot"></div>   <div class="line"></div>
      </div>
  </div>

  <div class="no-padding" id="ex">
      <div class="forward-slash"></div>
      <div class="backward-slash"></div>
  </div>
 <div class="icon-links" id="iLinks">
  <a href="{% url 'home:home' %}" class="Plinks">Home</a>
<a href="{% url 'peers:peers' %}" class="Plinks">Peers</a>
 <a href="{% url 'questions:questions' %}" class="Plinks">Questions
   <i class="fa fa-caret-down"></i></a>
 <a href="{% url 'questions:myquestions' %}" class="Plinks-in">My Questions</a>
 <a href="{% url 'profile:profile' %}" class="Plinks"> Edit profile </a>
 <a href="{% url 'login:logout' %}" class="Plinks">  Log out </a>
 </div>
  <!-- Ending of icon -->
      <div class="links">
        <a href="{% url 'home:home' %}">Home</a> |

        <a href="{% url 'peers:peers' %}">Peers</a> |

          <!-- dropdowm for questions -->
        <div class="dropdown personalize">
       <div class="dropbtn"> <a href="{% url 'questions:questions' %}">Questions<i class="fa fa-caret-down"></i></a>  </div>
        <div class="dropdown-content">   <a href="{% url 'questions:myquestions' %}">My Questions</a>  </div>
     </div>
        </div>
        <div class="logoN">
          <img src="{% static 'questions/images/devtitle.svg' %}" class="myimg" alt="logo" style="width:100px; height:50px;">
        </div>
        <div class="user-profile">
          <a> <i class="fa fa-bell">{{notifs}}</i> </a>
             {% cloudinary userdetails.profilepic.url className="myimg" title=userdetails.username alt=userdetails.username height=200 width=100 %}
             <div class="user-dropdown">
               <a href="{% url 'profile:profile' %}">
                 Edit profile
               </a>
               <a href="{% url 'login:logout' %}">
                 Log out
               </a>
             </div>
          </div>
  </div>

    <div class="main">

      <!-- Start of Messages -->
        <h4 id="upPart">Inbox</h4>
        <hr style="width:100px;margin: 0px auto;">
        {% for msg in all_messages %}
            {% if msg.r1uid_id|umodifier:userdetails.uid %}
              <a href="{% url 'chatroom:chatroom' msg.r2uid_id %}" class="mainbox">
                <div class="answers" style="align-items: center;">

                  <div class="profile queryprofile">
                    {% cloudinary msg.r2uid.profilepic.url className="myimg" title=msg.r2uid.username alt=msg.r2uid.username height=200 width=100 %}
                    <p>{{msg.r2uid.username|username_modifier}}</p>
                  </div>

                  <div class="answers-content" style="display: flex; flex-direction: column;justify-content:space-between;">
                    <div class="answers-content">
                      <div class="answers-main-content">
                        {{msg.text_message}}
                      </div>
                      <p class="newmessagec">
                        <a href="{% url 'chatroom:chatroom' msg.r2uid_id %}">
                          open
                        </a>
                      </p>
                    </div>
                    <div class="flexer">
                      <p class="ft">
                        {{msg.r2uid.hobby}}
                      </p>
                      <p class="ft">
                        {{msg.text_time | timemodifier}}
                      </p>

                      {% if msg.bell_seen %}
                      <p class="ft">
                        seen
                      </p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </a>
            {% else %}
          <a href="{% url 'chatroom:chatroom' msg.r1uid_id %}" class="mainbox">
            <div class="answers" style="align-items: center;">
              <div class="profile queryprofile">
                {% cloudinary msg.r1uid.profilepic.url className="myimg" title=msg.r1uid.username alt=msg.r1uid.username height=200 width=100 %}
                <p>{{msg.r1uid.username|username_modifier}}</p>
              </div>
              <div class="answers-content" style="display: flex; flex-direction: column; justify-content: space-between;">
              <div class="answers-content" >
                <div class="answers-main-content">
                  {{msg.text_message}}
                </div>
              </div>
              {% if msg.bell_seen  %}
                <p class="newmessagec">
                  <a href="{% url 'chatroom:chatroom' msg.r1uid_id %}">
                    open
                  </a>
                </p>
              {% else %}
                <p class="newmessagec alert-danger">
                <a href="{% url 'chatroom:chatroom' msg.r1uid_id %}">
                  {{msg.r1uid_id|msagecounter:msg.r2uid_id}} new
                </a>
                </p>
              {% endif %}
              <div class="flexer">
                <p class="ft">
                  {{msg.r1uid.hobby}}
                </p>
                <p class="ft">
                  {{msg.text_time | timemodifier}}
                </p>
              </div>
            </div>

          </div>
          </a>
            {% endif %}
        {% endfor %}

</div>
<script>
   // home icon
   const full = document.getElementById('full');
        const ex = document.getElementById('ex');
        const iLinks = document.getElementById('iLinks');

        full.addEventListener('click',function(){
            // full.classList.add('removeIcon');
            full.style.display = 'none';
            // ex.classList.add('showIcon');
            ex.style.display = 'flex';
            iLinks.style.display = 'flex';
        });
        ex.addEventListener('click',function(){
            // full.classList.remove('removeIcon');
            full.style.display = 'flex';
            // ex.classList.remove('showIcon');
            ex.style.display = 'none';
            iLinks.style.display = 'none';
        });

        // end of home icon
</script>
  </body>
</html>
