{% load static %}
{% load timemod %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Dev Code | Messages</title>
    <link rel="stylesheet" href="{% static 'chatroom/messages.css' %}">
  </head>
  <body>
    <div class="header">
      <nav>
          <a href="{% url 'home:home' %}">Home</a> |
          <a href="{% url 'questions:questions' %}">Questions</a> |
          <a href="{% url 'chatroom:inbox' %}">Inbox</a> |
          <a href="{% url 'peers:peers' %}">Peers</a>
      </nav>

      <div class="profile current-profile">
        <a href="{% url 'questions:questions' %}" class="bell">
          <i class="fa fa-bell notif"> {{newmessage}}</i>
        </a>

        <a href="{% url 'profile:profile' %}">
          <img src="/media/{{userdetails.profilepic}}" alt="profile" title="{{userdetails.username}}">
        </a>
      </div>

    </div>

    <div class="main">
        <div class="personchat">
          <img src="/media/{{receiver.profilepic}}" alt="{{receiver.username}}" title="{{receiver.username}}">
          <p>{{receiver.username}}</p>
        </div>

      <!-- single message -->
      {% for data in chats %}
        {% if userdetails.uid == data.r1uid_id %}
        <!-- <hr> -->
            <div class="one-message first">
              <p class="profile">
                <img src="/media/{{data.r1uid.profilepic}}" alt="profile" title="{{data.r1uid.username}}">
              </p>

              <div class="message-content">
                {{data.text_message}}
                <p><span class="time">{{data.text_time|timemodifier }}</span></p>
              </div>
            </div>

      <!-- end of single message -->
        {% else %}
          <!-- <hr> -->
          <!-- other message -->
          <div class="one-message second">
            <div class="message-content">
              {{data.text_message}}
              <p><span class="second-time">{{data.text_time|timemodifier }}</span></p>

            </div>

            <p class="profile">
              <img src="/media/{{data.r1uid.profilepic}}" alt="profile" title="{{data.r1uid.username}}">
            </p>

          </div>
          {% endif %}
      {% endfor %}
      <!-- end of other message -->


      <!-- start of form -->
      <div class="answers">
        <div class="answer-form">

          <form class="" action="{% url 'chatroom:updatechats' %}" method="post" id="frm">
            {% csrf_token %}
            <!-- <input type="text" name="message"> -->
            <textarea name="msg" rows="3" cols="30"></textarea>

            <input type="hidden" name="re" value="{{receiver.uid}}">

            <button type="submit" name="submit" value="submit" class="btn btn-info">Send</button>
          </form>
        </div>
      </div>
      <!-- end of form -->

    </div>

    <div class="footer">

    </div>
  </body>
</html>
