{% load static %}
{% load timemod %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="icon" href="{% static 'questions/images/devtitle.svg' %}" name"favicon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Dev Code | Messages</title>
    <link rel="stylesheet" href="{% static 'chatroom/messages.css' %}">
    <link rel="stylesheet" href="{% static 'home/icon.css' %}">

  </head>
  <body>
    <div class="nav-bar">
      <!-- Home icon Beginning -->

    <div class="full-icon" id="full">
      <div class="row">
          <div class="dot"></div>   <div class="line"></div>
      </div>
      <div class="row">
          <div class="dot"></div>   <div class="line"></div>
      </div>
      <div class="row">
          <div class="dot"></div>   <div class="line"></div>
      </div>
  </div>

  <div class="no-padding" id="ex">
      <div class="forward-slash"></div>
      <div class="backward-slash"></div>
  </div>

 <div class="icon-links" id="iLinks">
  <a href="{% url 'home:home' %}" class="Plinks">Home</a>
<a href="{% url 'peers:peers' %}" class="Plinks">Peers</a>
 <a href="{% url 'questions:questions' %}" class="Plinks">Questions
   <i class="fa fa-caret-down"></i></a>
 <a href="{% url 'questions:myquestions' %}" class="Plinks-in">My Questions</a>
  <a href="{% url 'chatroom:inbox' %}" class="Plinks">Inbox <i class="fa fa-envelope"> {{newmessage}}</i>
       </a>
 <a href="{% url 'profile:profile' %}" class="Plinks"> Edit profile </a>
 <a href="{% url 'login:logout' %}" class="Plinks">  Log out </a>




 </div>

  <!-- Ending of icon -->
      <div class="links">
        <a href="{% url 'home:home' %}">Home</a> |


        <a href="{% url 'peers:peers' %}">Peers</a> |

          <!-- dropdowm for questions -->
        <div class="dropdown">
       <div class="dropbtn personalize"> <a href="{% url 'questions:questions' %}">Questions<i class="fa fa-caret-down"></i></a>  </div>
        <div class="dropdown-content">   <a href="{% url 'questions:myquestions' %}">My Questions</a>  </div>
     </div>

        |
        <!-- <a href="{% url 'chatroom:inbox' %}">Inbox</a> -->
        <a href="{% url 'chatroom:inbox' %}">
          <i class="fa fa-envelope"> {{newmessage}}</i>
        </a>
        </div>
        <div class="logoN">
        <img src="{% static 'questions/images/devcodes _svg_lg.svg' %}" alt="logo">
        </div>
        <div class="user-profile" id="upPart">
          <a> <i class="fa fa-bell">{{notifs}}</i> </a>

             {% cloudinary userdetails.profilepic.url alt=userdetails.username title=userdetails.username className="myimg" height=200 width=100 %}
             <div class="user-dropdown">
               <a href="{% url 'profile:profile' %}" style="border-bottom: 1px solid grey;">
                 Edit profile
               </a>
               <a href="{% url 'questions:questions' %}" class="small-personalize">Questions</a>
               <a href="{% url 'questions:myquestions' %}" class="small-personalize">My Questions</a>
               <a href="{% url 'login:login' %}">
                 Log out
               </a>
             </div>

      </div>
  </div>

  <div class="back-icon">
    <a href="{% url 'chatroom:inbox' %}">
      <img src="{% static 'questions/images/back.svg' %}" alt="Back" style="width: 35px; height: 30px;">
    </a>
  </div>
    <div class="main">

      <!-- single message -->
      {% for data in chats %}
        {% if userdetails.uid == data.r1uid_id %}
        <hr>
            <div class="one-message second">
              <div class="message-content">
                {{data.text_message}}
                <p><span class="time">{{data.text_time|timemodifier }}</span></p>
              </div>
              <p class="profile">
                {% cloudinary data.r1uid.profilepic.url className="myimg" alt=data.r1uid.username title=data.r1uid.username height=200 width=100 %}
              </p>
            </div>
      <!-- end of single message -->
        {% else %}
              <hr>
              <!-- other message -->
              <div class="one-message first">
                <p class="profile">
                  {% cloudinary data.r1uid.profilepic.url className="myimg" alt=data.r1uid.username title=data.r1uid.username height=200 width=100 %}
                </p>

                <div class="message-content">
                  {{data.text_message}}
                  <p><span class="second-time">{{data.text_time|timemodifier }}</span></p>

                </div>
              </div>
        <!-- end of single message -->
          {% endif %}
      {% endfor %}
      <!-- end of other message -->


      <!-- start of form -->
      <div class="answers">
        <div class="answer-form">

          <form class="" action="{% url 'chatroom:updatechats' %}" method="post" id="frm">
            {% csrf_token %}
            <!-- <input type="text" name="message"> -->
            <textarea name="msg" rows="3" cols="30"></textarea>

            <input type="hidden" name="re" value="{{receiver.uid}}">

            <button type="submit" name="submit" value="submit" class="btn btn-info">Send</button>
          </form>
        </div>
      </div>
      <!-- end of form -->

    </div>

    <div class="footer">

    </div>
    <script>
       // home icon

  const full = document.getElementById('full');
        const ex = document.getElementById('ex');
        const iLinks = document.getElementById('iLinks');

        full.addEventListener('click',function(){
            // full.classList.add('removeIcon');
            full.style.display = 'none';
            // ex.classList.add('showIcon');
            ex.style.display = 'flex';
            iLinks.style.display = 'flex';
        });
        ex.addEventListener('click',function(){
            // full.classList.remove('removeIcon');
            full.style.display = 'flex';
            // ex.classList.remove('showIcon');
            ex.style.display = 'none';
            iLinks.style.display = 'none';
        });

        // end of home icon
    </script>
  </body>
</html>
