*{
    font-size: 16px;
}
body{
    background:#0a1d2f;
    margin:0;
}

.myimg {
  width:120px;
  height:60px;
  border-radius:50%;
}
.myimg {
  font-size: 25px;
}

.mytoast {
  /* display: none; */
  position: absolute;
  float: right;
  z-index: 10;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:max-content;
    padding: 4px 10px;
      background: #303d5c;
      color: #17a2b8;
  }
.nav-bar a{
    font-weight: 400;
    color: #fff;
    text-decoration: none;
  }
.nav-bar a:active{
    color:darkblue;
  }
.nav-bar a:hover{
    text-decoration: none;
    color: rgb(128, 181, 241);
  }

.links{
    display: inline-flex;
  }
.links a{
    padding-left: 6px;
    padding-right: 6px;
    color:#fff;
  }
  /* Start of dropdown */
  .dropdown .dropbtn {
      background-color: inherit;
     margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #303d5c;
    z-index: 1;
    width: max-content;
  }
  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    color: rgb(128, 181, 241);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* End of dropdown */
  .user-profile img{
    height: 40px;
    width:40px;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    }
    .user-profile{
      color:rgb(255, 255, 255);
      position: relative;
      width:75px;
    }
    .user-dropdown{
      position: absolute;
      background-color: #303d5c;
      z-index: 1;
      padding: 3px;
      padding-top: 5px;
      width: max-content;
      padding-right: 5px;
      display: none;
    }
    .user-profile:hover .user-dropdown{
      display: grid;
    }
    .user-profile:focus .user-dropdown{
      display: grid;
    }
    .logoN{
      font-size:22px;
      font-family:cursive,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
       Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
.small-personalize {
  display: none;
}
  /* end of navbar */
.main-window{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.person-holder{
    display:block;
    height:max-content;
    min-width: 215px;
}
.oneQuestion{
display:flex;
overflow-wrap: break-word;
}
.user-profile img{
height: 40px;
width:40px;
border-radius: 50%;
margin-right: 5px;
}
.question-container{
    border-radius: 8px;
    padding: 5px;
    margin: 8px;
    margin-top: 15px;
    min-width: 300px;
}
.profile-pic img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.user-details-first-row{
    width:max-content;
    color: #fff;
}
.reply-section{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background: rgb(196, 196, 196);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 3px;
    min-width: 215px;
    border-top-style:none ;
}
.reply-section .like,.message img{
width:30px;
height:30px;
margin-right:3px;
}
.like{
    display: flex;
    align-items: center;
}
.message{
    display: flex;
    align-items: center;
}
.Click{
    font-weight: 500;
}
.question-content{
    background: rgb(196, 196, 196);
    padding:5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-style: none;
}
.question-text{
    max-width: 65vw;
}
.main-question{
    margin-right:5px;
    width: max-content;
    max-height:350px;
    border-style: none;
    border-radius: 10px;
    background: #afabab;
        padding: 10px;
    box-shadow: 1px 2px 9px 2px black;
}
.languages-tagged{
    border-bottom: 1px solid rgb(94, 91, 91);
    font-weight: 700;
}
.page-title{
    text-align: center;
    color:white;
    font-size: 1.4em;
    font-family: arial,cursive;
}
.pose{
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #919192;
margin-top: 10px;
margin-bottom: 18px;
font-weight: 600;
font-size: 1.1em;
color: black;
}
.pose img{
    width:25px;
    height: 25px;
    display: none;
}
.languages{
    margin: 15px auto;
}
.question-btns{
    margin: 15px auto;
    text-align: center;
    margin-bottom:0px;
}
.question-btns .post{
    background: #17a2b8;
    border-radius: 4px;
    border-style: none;
    color: white;
    font-weight: 550;
    letter-spacing: 1px;
    padding:5px 8px;
}
.question-btns .cancel{
    background: #f55151;
    border-radius: 4px;
    border-style: none;
    color: black;
    margin-left: 10px;
    font-weight: 500;
    display:none;
}
.cancel:hover,.post:hover{
box-shadow: 3px 3px 9px 0px black;
}
.hide{
    opacity:0;
    transition: .6s;
}
.question-icon{
    display: none;
}
.up-icon{
    width: 50px; height:50px; border-radius: 50%;
    position: fixed; bottom:2%; right:1.2%;
    opacity:0;
    transition: .6s;
}
.show{
    opacity: 1;
}
.close-button{
    display: none;
    cursor: pointer;
        border: none;
        background: none;
        font-size: 1.25rem;
        font-weight: bold;
}
.question{
    width:300px;
}
.openButton{
    display: none;
}
/* Making it responsive */
@media only screen and (max-width: 700px) {
    *{
        font-size: 14px;
    }
    .user-dropdown a {
      display: none;
    }
    .modal.active,.main-question.active {
        transform: translate(-50%, -50%) scale(1);
    }
    .question{
        width:220px;
    }
    .close-button{
        cursor: pointer;
        border: none;
        background: none;
        font-size: 2rem;
        font-weight: bold;
    }
    .pose{
      margin-top: 0px;
       margin-bottom: 10px;
    padding-left: 20px;

    }
    .pose img{
        display: inline;
    }
    .logo{
        font-size: 15px;
    }
    .person-holder{
        width: 100%;
        min-width: 215px;
    }
    .profile-pic img{
        height: 50px;
        width: 50px;
    }
    .openButton{
        display: block;
        width: 40px;
         height:40px;
         border-radius: 50%;
          background-color: #e60c8f;
         border-style: none;
    /* font-weight: 600; */
    color: white;
    font-size: 15px;
    box-shadow: 1px 2px 5px black;
    position: fixed;
     bottom:7%;
     right:1.2%;
    }
    .openButton:focus{
        background-color: #e6480c;
    }
    .openButton:hover{
        transform:translateY(-10%);
    }
    .up-icon{
        bottom: 1%;
        width:30px;
        height: 30px;
        transition: .7s;

    }

    .question-container{
        margin:0;
        min-width: 0px;
    }
    #overlay{
        position: fixed;
        opacity: 0;
        top:0;
        transition: 200ms ease-in-out;

        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        background-color: rgba(0,0,0,0.6);
    }
    #overlay.active{
        opacity: 1;
        pointer-events:all;
    }
    .modal,.main-question{
        /* display: none;  */
        position: fixed;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 4;
        transition: 200ms ease-in-out;
        min-width: 200px;
    }
    #question{
        width:100%;
    }
    .personalize {
      display: none;
    }

    .small-personalize {
      display: block;
    }
}

#emptyLove{
    width:20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}
#Love{
    width: 20px;
    margin: 5px;
    height: 20px;
    display: none;
    cursor: pointer;
    animation: bigUp .9s 0s ease-out forwards;

}
@keyframes bigUp{
    0%{
        transform:scale(1.6);
    }
    100%{
        transform: none;
    }
}

.seenlike{
  display: inline;
}
