* {
  padding: 0px;
  margin: 0px;
}


body {
  /* background-color: #070f54; */
  background-color: #242721;
}


.header {
  min-height: 10vh;
  margin-bottom: 4vh;
  background-color: #633f3f;
}

.header>nav {
  display: inline-block;
  width: 70%;
  padding: 20px;
  /* background-color: red; */
}

.header>nav>a{
  text-decoration: none;
  color: #fff;
  margin: 0px 10px;

}

.myprofile {
  display: inline-block;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.myprofile >a>img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.main {
  width: 70%;
  background-color: #e8eaec;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  margin-bottom: 30px;
}


.question {
  display: flex;
}

.profile >img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


.queryprofile {
  margin: 30px 0px 0px 20px;

  flex:1;
  width: 10%;
}


.profile > p {
  margin-left: 4.6px;
  font-size: 10px;
  /* text-align: center; */
  /* background-color: red; */
}


.question-content {
  flex:8;
  padding: 10px;
  margin: 10px;
  width: 80%;
}


.ft {
  color: #4c626b;
  display: inline;
  float: right;
  padding: 0px 10px 0px 10px;
}


.answers {
  display: flex;
  border-bottom: 1px solid #555;
  margin: 10px;
  min-height: 50px;
}


.answers:last-child {
  border-bottom: none;
}

h4 {
  text-align: center;
  font-size: 1.5em;
}

.answers-content {
  flex:8;
  padding: 10px;
  margin: 10px;
  width: 80%;
}


.answer-form {
  display: block;
  margin: 0px auto;
  width: 50vw;
}


.answer-form>form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.answer-form {
  flex: 1;
}


textarea {
  display: block;
  margin: 0px auto;
  border-radius: 30px;
  text-align: center;

}


button[type = "submit"] {
  display: block;
  text-align: center;
  margin: 0px auto;

}

#small {
  display: none;
}


@media screen and (max-width:700px) {
  .main {
    width:96%;
    margin-bottom: 2%;
  }
  .header {
      min-height: 12vh;
  }


  .profile >a>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

  }

  .header>nav>a {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    margin: 0px 10px;
  }

  .question-main-content {
    font-size: 12px;
    margin-left: 30px;
  }
  .answers-content {
    margin-left: 35px;
    font-size: 12px;
  }

  .ft {
    font-size: 10px;
  }

  .answers-main-content {
    margin-left: 10px;
  }

  button[type = "submit"] {
    margin-top: 20px;

  }

  .myprofile {
    margin-right: 0px;
    margin-top: 0px;
  }

  #small {
    display: block;
  }

  #large {
    display: none;
  }


}
