body{
    background-color: #192164;
    background-image: url("circuit1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.nav-bar{
    /* display: flex; */
    background-color: gray;
    width: 100%;
    margin-top: 0;
    padding:10px;
    
}
.nav-bar button{
    padding: 5px;
    background-color: aqua;
    border-radius: 5px;
    border-style: none;
    margin-left: 10px;
    font-weight: 500;
}
.nav-bar a{
    color:#05bbb3;
    margin-right: 3px;
    width:max-content;
    font-weight: 600;
    text-shadow: 1px 1px 5px black;
    letter-spacing: 1px;

}
.nav-bar .dev{
    text-align: center;
    place-content: center;
    width:max-content;
}
 .nav-bar img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* float: right; */
    position: absolute;
    top:0;
    right:0;
    margin-right: 5px;
    margin-top: 10px;
    /* text-align: right;
    align-items: right; */
}
.profile-pic img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin:8px;

}
.main-question{
    width: max-content;
    /* display: flex; */
    border-style: solid;
  border-color: #18b8b9;
    border-radius: 10px;
  background: #f5f2f261;
    padding: 10px;
    box-shadow: 1px 2px 9px 3px black;
}
.holder{
    display: flex;
    justify-content: center;
    place-items: center;
}
.pose{
    text-align: center;
margin-top: 10px;
margin-bottom: 18px;
font-weight: 600;
}
.Add-img{
    margin: 5px auto;
}
.Add-img button{
    border-radius: 3px;
    border-style: none;
    background: #057373;
    color: #fff;
}
.languages{
    margin: 15px auto;
}
.question-btns{
    margin: 15px auto;
    text-align: center;
}
.question-btns .post{
    background: #096565;
    border-radius: 4px;
    border-style: none;
    color: white;
    font-weight: 600;
    text-shadow: 1px 3px 7px black;
}
.question-btns .cancel{
    background: #f55151;
    border-radius: 4px;
    border-style: none;
    color: black;
    margin-left: 10px;
    font-weight: 500;
}