.profile {
  display: block;
  margin: 0px auto;
  width: max-content;
  margin-top: 10px;
}

.profile >img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0px auto;
  border-radius: 50%;
}

table {
  margin: 0px auto;
  margin-top: 20px;
}
input {
  border: 0px;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 5px;
}
label  {
    padding: 5px;
}
input[type = "file"] {
  border: none;
}
.details{
  width: max-content;
  margin-left: 10px;
}
.main-window .main-frame-details{
  margin:0px auto;
  width: max-content;
  border-style: solid;
  border-color: coral;
  border-radius: 10px;
}
.nav-bar{
  margin-bottom: 30px;
  text-align: right;
  background: grey;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* .details form fieldset table tbody tr td.updateButton{
  text-align: center;
} */
/* .btn btn-info{
  text-align: center;
} */