*{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
     sans-serif,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background:#0a1d2f;
    margin:0;
}

.myimg {
  font-size: 25px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:max-content;
    padding: 4px 10px;
      background: #303d5c;
      color: #17a2b8;
  }
  .nav-bar a{
    font-weight: 400;
    color: #fff;
    text-decoration: none;
  }

  .nav-bar a:active{
    color:darkblue;
  }
  .nav-bar a:hover{
    text-decoration: none;
    color: rgb(128, 181, 241);

  }
  .links{
    display: inline-flex;
  }
  .links a{
    padding-left: 6px;
    padding-right: 6px;
    color:#fff;
  }
  .dropdown .dropbtn {
    background-color: inherit;
   margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #303d5c;
  z-index: 1;
  width: max-content;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: rgb(128, 181, 241);
}

.dropdown:hover .dropdown-content {
  display: block;
}



.email-content{
    padding: 1px 5px;
}
.oneMessage{
    background: white;
    margin: 10px;
    overflow-wrap: break-word;
    padding: 4px 6px;
    border: none;
    border-radius: 6px;
}
.emailTime{
    text-align: right;
    padding: 3px 3px;
    font-weight: 600;
}
.respond{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.resBtn{
    padding: 5px;
    height: max-content;
    border: none;
    background: #38d3e2;
    border-radius: 3px;
    color: white;
    text-shadow: 1px 1px 5px black;
}
.oneMessage p{
    text-align: right;
    margin: 0;
    border-bottom: 1px solid #303d5c;
    padding: 3px 4px;
    padding-top: 0;
    margin-bottom: 6px;
}


@media only screen and (max-width: 700px) {
    *{
        font-size: 14px;
    }
    .logoN{
        display: none;
    }

    .modal.active,.main-question.active {
        transform: translate(-50%, -50%) scale(1);
    }
    .question{
        max-width:250px;
    }
    .close-button{
        cursor: pointer;
        border: none;
        background: none;
        font-size: 2rem;
        font-weight: bold;
        display: inline-block;
    }
    .links a{
        padding-left: 3px;
        padding-right: 3px;
    }

    .pose{
      margin-top: 0px;
       margin-bottom: 10px;
    padding-left: 20px;

    }
    .pose a img{
        display: inline;
    }
    .logo{
        font-size: 15px;
    }
    .person-holder{
        width: 100%;
    }
    .profile-pic img{
        height: 50px;
        width: 50px;
    }
    .openButton{
        display: block;
        width: 40px;
         height:40px;
         border-radius: 50%;
          background-color: #e60c8f;
         border-style: none;
    /* font-weight: 600; */
    color: white;
    font-size: 15px;
    box-shadow: 1px 2px 5px black;
    position: fixed;
     bottom:7%;
     right:1.2%;
    }
    .openButton:focus{
        background-color: #e6480c;
    }
    .openButton:hover{
        transform:translateY(-10%);
    }
    .up-icon{
        bottom: 1%;
        width:30px;
        height: 30px;

    }
    .question-container{
        margin:0;
        min-width: 0px;
    }
    #overlay{
        position: fixed;
        opacity: 0;
        top:0;
        transition: 200ms ease-in-out;

        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        background-color: rgba(0,0,0,0.6);
    }
    #overlay.active{
        opacity: 1;
        pointer-events:all;
    }
    .modal,.main-question{
        /* display: none;  */
        position: fixed;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 4;
        transition: 400ms cubic-bezier(0.85, -0.22, 0.51, 1.26);
    min-width: 200px;

    }
    #question{
        width:100%;
    }
}
