*{
  font-family:arial,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img>.myimg {
  width:60px;
  height:60px;
  border-radius:50%;
}
/* nav bar attributes */
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items:center;
  height:max-content;
  padding: 4px 10px;
    background: #303d5c;
    color: #17a2b8;
}
.myimg {
  font-size: 25px;
}
.nav-bar a{
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.nav-bar a:active{
  color:darkblue;
}
.nav-bar a:hover{
  text-decoration: none;
  color: rgb(128, 181, 241);

}
.links{
  display: inline-flex;
}
.links a{
  padding-left: 6px;
  padding-right: 6px;
  color:#fff;
}

.dropdown .dropbtn {
    background-color: inherit;
   margin: 0;
}.dropdown-content {
  display: none;
  position: absolute;
  background-color: #303d5c;
  z-index: 1;
  width: max-content;
}.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}.dropdown-content a:hover {
  color: rgb(128, 181, 241);
}.dropdown:hover .dropdown-content {
  display: block;
}
/* End of dropdown */
.user-profile img{
  height: 40px;
  width:40px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  }.user-profile{
    color:rgb(255, 255, 255);
    position: relative;
  }.user-dropdown{
    position: absolute;
    background-color: #303d5c;
    z-index: 1;
    padding: 3px;
    padding-top: 5px;
    width: max-content;
    padding-right: 5px;
    display: none;
  }
  .user-profile:hover .user-dropdown{
    display: grid;
  }
  .user-profile:focus .user-dropdown{
    display: grid;
  }
  .logoN{
    font-size:22px;
    font-family:cursive,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* end of navbar */
.mid-window {
  display: flex;
  margin-top: 4%;
}

.mid-window > .questions {
  text-align: center;
  padding: 10px;
  flex: 1;
  margin: 2px;
  border-radius: 30px;
  background-color: #25283a;
  color: #fff;
}
.mid-window > .profile {
  text-align: center;
  padding: 10px;
  flex: 1;
  margin: 2px;
  border-radius: 30px;
  background-color: #25283a;
  color: #fff;
}
.main-window{
  background: linear-gradient(51deg, #1de81acf, #d9e01291);
  background: -webkit-linear-gradient(51deg, #1de81acf, #d9e01291);
  background: -moz-linear-gradient(51deg, #1de81acf, #d9e01291);
  background: -o-linear-gradient(51deg, #1de81acf, #d9e01291);

  padding: 15px;
  padding-left:0;
  padding-right:0;
  /* background-color: #54df52; */
}
.mainlinks {
  text-decoration: none;
}

.mainlinks:hover {
  text-decoration: none;
}.footer {
  display: flex;
    background-color: #25283a;
    padding-bottom: 30px;
    color: #fff;
  }
.footer-header {
  border-bottom: 2px solid red;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}.botttom-link {
  text-align: center;
  padding: 10px;
  flex:1;
  margin: 2px;
  border-radius: 30px;
  background-color: #25283a;
  color: #fff;
}
.flex-holder{
  display: flex;
  align-items: center;
  padding:0px 15px;
}
.flex-holder .text{
  text-align: center;
}
.text{
  padding:10px 15px;
}
.text p{
  font-size: 2em;
}
.vector, .vector-r{
  width:38%;
  height: 350px;
}
.vector-res{
  width:500px;
  height: 350px;
  display: none;
}

/* carousel */
.carol {
  width: 100%;
  min-height: 30vh;
  max-height: 50vh;
  background-image: url("./images/tech.d94b97c8b3cb.jpg");
  margin: 0px auto;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
}.start-carol {
  width: 60%;
  margin: 0vh auto;
  min-height: 30vh;
  max-height: 50vh;
  box-sizing: border-box;
}
.inner-class {
  display: flex;
  color: #fff;
  margin: 4vh 0vh;
}
.inner-class>.peerprof >img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  flex: 1;
  color: #fff;
}.inner-class > .recentq {
  flex: 8;
  margin-left: 20px;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
/* end of carousel */

.feedback{
  background: #ffffff;
  width: max-content;
  height: max-content;
  border: 1px solid rgb(185, 62, 17);
  padding: 10px;
padding-top: 5px;
position: fixed;
border-radius:15px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 17px;
display: none;
}
.feedback-link{
  color:black;
}
.addme{
  display: block;
}
.feed-hld{
 overflow-x:hidden;
}
.top{
  display: flex;
justify-content: space-evenly;
padding: 5px;
padding-bottom: 25px;
color: #000;
}
.email-sect{
  position: relative;
display: grid;
}
.lbl{
position: absolute;
width: 100%;
height: 100%;
left:0;
top: 0;
pointer-events: none;
border-bottom: 1px solid black;
}
.submit{
text-align: center;
}
.send-btn{
border-radius: 4px;
background: #0bd5de;
border-style: none;
padding: 2px 6px;
}
.send-btn:focus{
background: rgb(10, 173, 5);
}
.lbl::after{
content: "";
position: absolute;
width:100%;
left:0;
bottom: -2px;
height:100%;
border-bottom: 3px solid rgb(27, 206, 238);
color:rgb(27, 206, 238);
transform: translateX(-100%);
transition: all 0.4s ease;
font-size: 15px;
}
.placeValue{
position:absolute;
bottom:1px;
left:0px;
transition:all 0.4s ease-out;
color: rgb(7, 144, 168);
}
input:focus + .lbl .placeValue,  input:valid + .lbl .placeValue{
transform: translateY(-80%);
color:rgb(2, 42, 49);
/* text-shadow: 1px 1px 5px black; */
}
input:focus + .lbl::after,  input:valid + .lbl::after{
transform: translateX(0%);
}
input type[email]{
font-size: 15px;
}
.email-sect .detail{
border:none;
font-size: 15px;
background: none;
}
.close-button{
font-size: 18px;
font-weight: 600;
background-color: rgba(0, 0, 0, 0.301);
border: none;
border-radius: 50%;
}
#overlay{
  position: fixed;
  opacity: 0;
  top:0;
  transition: 200ms ease-in-out;

  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-color: rgba(0,0,0,0.6);
}
#overlay.active{
  /* putting it this way is super imprtant */
  opacity: 1;
  pointer-events:all;
}
.feed-btn{
  border: none;
padding: 5px;
font-size: 14px;
background: #b514a9;
border-radius: 15px;
color: white;
}

#alrt{
  display: none;
  position: absolute;
}
@media only screen and (max-width:1200px){
  .vector, .vector-r{
    width: 300px;
    height: inherit;
  }
  .text p{
    font-size: 1.2em;
  }
  .text{
    padding:0;
  }
  .flex-holder{
    padding: 20px 17px;
  }

  .start-carol {
    width: 100%;
  }
}
@media only screen and (max-width:600px){
  /* nav bar attributes */
  .showIcon{
    display: flex;
}
.showHref{
    display: grid;
}
.removeIcon{
    display: none;
}
  .full-icon{
    display: flex;
  }
  .links{
    display: none;
  }
  .nav-bar{
    padding: 0px;
  }

/* end of navbar */

.flex-holder{
    flex-direction: column;
    padding: 10px 10px;
  }
.vector, .vector-res{
    width:80%;
    height: 200px;
  }
.vector-res{
    display: block;
  }
.vector-r{
    display: none;
  }
.text p{
    font-size: 1em;
  }
  .dropbtn i{
    display: none;
  }
  .footer{
    flex-direction: column;
  }
  .start-carol {
    width: 100%;
  }
  .feedback{
    width: 95%;
  }
}
