/* Beginning of home icon */
.icon-links{
    animation: slide .8s 0s cubic-bezier(0.32, 0.96, 0.58, 1.11) forwards;
    position: absolute;
      z-index: 2;
      padding-left: 7px;
    display: none;
    flex-direction: column;
    width: max-content;
    height: max-content;
    padding: 5px;
    background: #303d5c;
    border-top: 2px solid rgb(12, 215, 247);
    border-bottom: 2px solid rgb(12, 215, 247);
  
  }
  .Plinks,.Plinks-in{
    text-decoration: none;
    margin-top: 5px;
    color: #fff;
  }
  .Plinks-in{
    margin-left: 5px;
  }
  
          .full-icon{
            width: 33px;
    height: 33px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
    flex-direction: column;
      justify-content: space-around;
      align-items: center;
    display: none;
        }
        .dot{
            width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
  
        }
        .line{
            width: 11px;
    height: 2px;
    border-radius: 10px;
    margin-left: 3px;
    background-color: rgb(255, 255, 255);
  
        }
        .row{
            display: flex;
            align-items: center;
            margin-bottom: 2px;
            opacity: 1;
            transform: scale(0);
            animation: opac 1s 0.1s ease-out forwards;
  
        }
        .no-padding{
            border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
            cursor: pointer;
            position: relative;
    padding: 0;
    width: 33px;
    height: 33px;
    justify-content: center;
    align-items: center;
    display: none;
    margin: 5px;
        }
        
        .forward-slash{
            width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    animation: rotateF 1s 0.1s ease-out forwards;
        }
        .backward-slash{
            
            width: 20px;
            height: 2px;
            background-color: #fff;
            animation: rotateL 1s 0.1s ease-out forwards;
        }
       
        @keyframes rotateF {
            0%{
                transform: translateY(-0.2em);
            }
            100%{
                transform: rotate(123deg);
            }
        }
        @keyframes rotateL {
            0%{
                transform: translateY(0.2em);
            }
            100%{
                transform: rotate(45deg);
            }
        }
        @keyframes opac {
            0%{
                /* opacity: 0; */
                transform: scale(0.3);
            }
            100%{
                /* opacity: 1; */
                transform: scale(1);
            }
        }
        @keyframes slide{
          0%{
            transform: translateX(-100%) translateY(7rem);
  
          }
          100%{
            transform: translateX(0%) translateY(7rem) ;
          }
        }
        /* end of home icon */
        @media only screen and (max-width:600px){
            /* nav bar attributes */
            .showIcon{
              display: flex;
          }
          .showHref{
              display: grid;
          }
          .removeIcon{
              display: none;
          }
            .full-icon{
              display: flex;
            }
            .logoN{
              display:block;
            }
            .links{
              display: none;
            }
          
            .nav-bar{
              padding: 0px;
            }
          
          /* end of navbar */
          
            
          }  