{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="{% static 'questions/images/devcodes _svg_lg.svg' %}" name"favicon">
	<meta lang="en" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<title>DevCodes | signup</title>
	<link rel="stylesheet" href="{% static 'home/spinner.css' %}">

	<link rel="stylesheet" href="{% static 'signup/styles.css' %}"/>
	<script type="text/javascript">

	 // Listen for when everything has loaded
	 window.addEventListener("load", removePage, false);
	        const loader = document.getElementById('ld');
	        function removePage(){
	          loader.classList.add('shrink');
	        }

	function cancel(){
		alert("Hello world");
		document.getElementById("spin").setAttribute("class" , "");
	}

	function spinnermanager()
	{

		if(document.getElementById("uname").value != "" && document.getElementById("phone").value != "" &&
		 document.getElementById("ema").value != "" &&
		document.getElementById("pass1").value != "" &&  document.getElementById("pass2").value != "" &&
		 document.getElementById("pass2").value !="" && document.getElementById("profile").value != "")
		{

			document.getElementById("spin").setAttribute
			("class" , "fa fa-spinner fa-spin fa-1x");
		}


	function form_manager()
	{
		var flag = false;

		if(document.getElementById("uname").value == "")
		{

			alert("Username blank");
		}

		else if(document.getElementById("phone").value == "")
		{

			alert("phone blank");
		}
		else if(document.getElementById("ema").value == "")
		{

			alert("email blank");
		}
		else if(document.getElementById("pass1").value == "" || document.getElementById("pass2").value == "")
		{

			alert("pass1 blank");
		}

	else if(document.getElementById("hobby").value == "")
		{

			alert("hobby blank");
		}
		else if(document.getElementById("profile").value == "")
		{

			alert("profile blank");
		}
		else {

		}
		spinnermanager();
	}


		function passwordmaster()
		{
			var pass1 = document.getElementById("pass1").value;
			var pass2 = document.getElementById("pass2").value;

			if(pass1 != "" && pass2 != "")
				{

					if(pass1 == "" || pass2 == "")
						{
							document.getElementById("pass1").innerHTML = "";
							document.getElementById("pass2").innerHTML = "";
							alert("password cannot be empty");
						}

					else if(pass1 != pass2)
						{
							document.getElementById("pass1").innerHTML = "";
							document.getElementById("pass2").innerHTML = "";
							alert("Password mismatch");
						}

					else {
						if(pass1.length < 10)
							{
								document.getElementById("pass2").innerHTML = "";
								document.getElementById("pass1").innerHTML = "";
								alert("Short password");
							}
						}
				}
		}

	// Verifcation
	function userauthentication(uid)
	{
		var xhttp = new XMLHttpRequest();
		var user = document.getElementById("uname").value;
		xhttp.onreadystatechange = function()
		{
			if(this.readyState == 4 && this.status == 200)
			{
				if(this.responseText == "true")
					{
						document.getElementById("usernamevalid").innerHTML = "username taken";
						document.getElementById("usernamevalid").style.color = "#f00";
						// document.getElementById("submit").disabled=true;
					}

					else {
						document.getElementById("usernamevalid").innerHTML = "username available";
						document.getElementById("usernamevalid").style.color = "#7fa";
						// document.getElementById("submit").enabled=true;
					}
			}
		};
		xhttp.open("POST" , "{% url 'signup:userauthentication' %}" , true);
		xhttp.setRequestHeader("Content-Type" , "application/x-www-form-urlencoded");
		xhttp.setRequestHeader("X-CSRFToken" , "{{csrf_token}}");
		xhttp.send("username="+user);
	}




		function emailauthentication(emid)
		{
			var xhttp = new XMLHttpRequest();
			var email = document.getElementById("ema").value;
			xhttp.onreadystatechange = function()
			{
				if(this.readyState == 4 && this.status == 200)
				{
					if(this.responseText == "true")
					{
						document.getElementById("emailvalid").innerHTML = "Email in use by another account";
						document.getElementById("emailvalid").style.color = "#f00";
						// document.getElementById("submit").disabled=true;
					}

					else if(this.responseText == "false"){
						document.getElementById("emailvalid").innerHTML = "email available";
						document.getElementById("emailvalid").style.color = "#7fa";
						// document.getElementById("submit").enabled=true;
					}

					else{
						document.getElementById("emailvalid").innerHTML = this.responseText;
						document.getElementById("emailvalid").style.color = "#f00f00";
					}
				}
			};
			// xhttp.responseType = "json";

			xhttp.open("POST" , "{% url 'signup:emailauthentication' %}" , true);
			xhttp.setRequestHeader("Content-Type" , "application/x-www-form-urlencoded");
			xhttp.setRequestHeader("X-CSRFToken" , "{{csrf_token}}");
			xhttp.send("email="+email);
		}


		function showp() {
			var pel = document.getElementById("pass1");
			if (pel.type === "password") {
				$(".passf").setAttribute("type" , "text")
			}
			else {
				$(".passf").setAttribute("type" , "password")
			}
		}

	</script>
</head>
<body>
	<!-- Begining of spinner -->
	<div class="loader-wrapper" id="ld">
		<span class="loader"><span class="loader-inner"></span></span>
			</div>
			<!-- End of spinner -->
	<p>
		<img src="{% static 'questions/images/devtitle.svg' %}" class="myimg" alt="logo">
	</p>
	<div class="bon">
		<div class="bony">
			<form action="{% url 'signup:signup' %}" method="post" enctype="multipart/form-data" onabort="cancel()">

				<h2>Join DevCodes</h2>
					{% for error in error_log %}
					<label class="inputlabel">
						{{error}}
				</label>
					{% endfor %}
					{% csrf_token %}
				<!-- <input type="hidden" name="_token" value="{{ csrf_token }}" id="tok"> -->
				<input type="text" placeholder="Username" name = "username" required autocomplete="true" class="input" onchange="userauthentication()" id="uname">
				<label id="usernamevalid" class="validation"></label>
				<input type="phone" name="pnumber" placeholder="phone" class="input" id="phone">
				<input type="email" name="email" placeholder="email" required autocomplete="true" class="input" onchange="emailauthentication()" id="ema">
				<label id="emailvalid" class="validation"></label>
				<input type="password" name = "pass1" placeholder="Password" id="pass1" required  class="input passf" onchange="passwordmaster(pass1)"> <span class="fa fa-eye" aria-hidden=true onclick="showp();"></span>
				<input type="password" placeholder="confirm password" name="pass2" id="pass2" class="input passf" onchange="passwordmaster(pass2)" required>
				<input type="text" placeholder="Hobby" name = "hobby" required autocomplete="true" class="input" id="hobby">
				<input type="file" name="profilepic" value="Profile picture" class="input" id="profile" required>
				<!-- <input type="submit" name="submit" value="signup" id="submit" class="input" onclick="spinnermanager()"> -->
				<button type="submit" name="submit" class="btn btn-info" id="submit" onclick="form_manager()" onabort="cancel()">
					Signup
					<!-- <i class="" id="submit"></i> -->
					<i class="" id="spin"></i>
				</button>


			</form>

				<p style="text-align:center">
					<span>Already have an account?</span>
						<a class="link" href="{% url 'login:login' %}">
						Sign in
					</a>
				</p>


	</div>
</div>

		<footer>

    </footer>
</body>
</html>
